In [2]:
from lxml import etree
import requests
import csv 
data=open('IMDb.csv','wt',newline='',encoding='utf-8')
writer=csv.writer(data)
# 写入表头信息
writer.writerow(('rank','title','description','runtime','genre','rating','metascore','votes','gross_earning_in_mil','director','actor'))

#  构造urls
urls=['https://www.imdb.com/search/title/?title_type=feature&release_date=2017-01-01,2017-12-31&start={}'.format(i) for i in range(0,250,50)]

#  加入请求头
headers={
    'User-Agent':'Mozilla/5.0 (Windows NT 6.1;WOW64) AppleWebKit/537.36 (KHTML,like GeCKO) Chrome/45.0.2454.85 Safari/537.36 115Broswer/6.0.3'
}

for url in urls:
    # 用requests库获取网页信息,lxml解析html文件
    html=requests.get(url,headers=headers)
    selector=etree.HTML(html.text)
    infos=selector.xpath('//div[@class="lister-item mode-advanced"]')
    for info in infos:
        rank=info.xpath('div[3]/h3/span[1]/text()')
        title=info.xpath('div[3]/h3/a/text()')
        description=[i.replace("\n","").strip() for i in info.xpath('div[3]/p[2]/text()')]
        runtime=[i.replace("\n","").strip() for i in info.xpath('div[3]/p[1]/span[@class="runtime"]/text()')]
        genre=[i.replace("\n","").strip() for i in info.xpath('div[3]/p[1]/span[@class="genre"]/text()')]
        rating=[i.replace("\n","").strip() for i in info.xpath('div[3]/div/div/strong/text()')]
        metascore=info.xpath('normalize-space(div[3]/div/div[3]/span/text())')
        votes=info.xpath('div[3]/p[4]/span[2]/text()')
        gross_earning_in_mil=info.xpath('div[3]/p[4]/span[5]/text()')
        director=info.xpath('div[3]/p[3]/a[1]/text()')
        actors=[]
        stress=info.xpath('div[3]/p[3]')
        for i in stress:
            temp=i.xpath('a[position()>1]/text()')
            actors.append(temp)    
        print(rank,title,description,runtime,genre,rating,metascore,votes,gross_earning_in_mil,director,actors)
        writer.writerow((rank,title,description,runtime,genre,rating,metascore,votes,gross_earning_in_mil,director,actors))
data.close()

['1.'] ['My Friend Dahmer'] ['A young', 'struggles to belong in high school.'] ['107 min'] ['Biography, Drama, Horror'] ['6.2'] 68 ['21,331'] ['$1.36M'] ['Marc Meyers'] [['Ross Lynch', 'Alex Wolff', 'Anne Heche', 'Zachary Davis Brown']]
['2.'] ['It'] ['In the summer of 1989, a group of bullied kids band together to destroy a shape-shifting monster, which disguises itself as a clown and preys on the children of Derry, their small Maine town.'] ['135 min'] ['Horror'] ['7.3'] 69 ['541,179'] ['$327.48M'] ['Andy Muschietti'] [['Bill Skarsgård', 'Jaeden Martell', 'Finn Wolfhard', 'Sophia Lillis']]
['3.'] ['Get Out'] ["A young African-American visits his white girlfriend's parents for the weekend, where his simmering uneasiness about their reception of him eventually reaches a boiling point."] ['104 min'] ['Horror, Mystery, Thriller'] ['7.7'] 85 ['599,344'] ['$176.04M'] ['Jordan Peele'] [['Daniel Kaluuya', 'Allison Williams', 'Bradley Whitford', 'Catherine Keener']]
['4.'] ['Blade Runner 2049'] ["Young Blade Runner K's discovery of a long-buried secret leads him to track down former Blade Runner Rick Deckard, who's been missing for thirty years."] ['164 min'] ['Action, Drama, Mystery'] ['8.0'] 81 ['563,831'] ['$92.05M'] ['Denis Villeneuve'] [['Harrison Ford', 'Ryan Gosling', 'Ana de Armas', 'Dave Bautista']]
['5.'] ['Star Wars: Episode VIII - The Last Jedi'] ['The Star Wars saga continues as new heroes and galactic legends go on an epic adventure, unlocking mysteries of the Force and shocking revelations of the past.'] ['152 min'] ['Action, Adventure, Fantasy'] ['6.9'] 84 ['627,812'] ['$620.18M'] ['Rian Johnson'] [['Daisy Ridley', 'John Boyega', 'Mark Hamill', 'Carrie Fisher']]
['6.'] ['Call Me by Your Name'] ["In 1980s Italy, romance blossoms between a seventeen-year-old student and the older man hired as his father's research assistant."] ['132 min'] ['Drama, Romance'] ['7.8'] 93 ['269,869'] ['$18.10M'] ['Luca Guadagnino'] [['Timothée Chalamet', 'Armie Hammer', 'Michael Stuhlbarg', 'Amira Casar']]
['7.'] ['The Greatest Showman'] ['Celebrates the birth of show business and tells of a visionary who rose from nothing to create a spectacle that became a worldwide sensation.'] ['105 min'] ['Biography, Drama, Musical'] ['7.5'] 48 ['280,269'] ['$174.34M'] ['Michael Gracey'] [['Hugh Jackman', 'Michelle Williams', 'Zac Efron', 'Zendaya']]
['8.'] ['Logan'] ['In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.'] ['137 min'] ['Action, Drama, Sci-Fi'] ['8.1'] 77 ['755,351'] ['$226.28M'] ['James Mangold'] [['Hugh Jackman', 'Patrick Stewart', 'Dafne Keen', 'Boyd Holbrook']]
['9.'] ['Thor: Ragnarok'] ['Imprisoned on the planet Sakaar, Thor must race against time to return to Asgard and stop Ragnarök, the destruction of his world, at the hands of the powerful and ruthless villain Hela.'] ['130 min'] ['Action, Adventure, Comedy'] ['7.9'] 74 ['743,500'] ['$315.06M'] ['Taika Waititi'] [['Chris Hemsworth', 'Tom Hiddleston', 'Cate Blanchett', 'Mark Ruffalo']]
['10.'] ['Downsizing'] ['A social satire in which a man realizes he would have a better life if he were to shrink himself to five inches tall, allowing him to live in wealth and splendor.'] ['135 min'] ['Drama, Fantasy, Sci-Fi'] ['5.8'] 63 ['111,159'] ['$24.45M'] ['Alexander Payne'] [['Matt Damon', 'Christoph Waltz', 'Hong Chau', 'Kristen Wiig']]
['11.'] ["Gerald's Game"] ['A couple tries to spice up their marriage in a remote lake house. After the husband dies unexpectedly, the wife is left handcuffed to their bed frame and must fight to survive and break free.'] ['103 min'] ['Drama, Horror, Thriller'] ['6.5'] 77 ['110,093'] [] ['Mike Flanagan'] [['Carla Gugino', 'Bruce Greenwood', 'Chiara Aurelia', 'Carel Struycken']]
['12.'] ['Beauty and the Beast'] ['A selfish Prince is cursed to become a monster for the rest of his life, unless he learns to fall in love with a beautiful young woman he keeps prisoner.'] ['129 min'] ['Adventure, Family, Fantasy'] ['7.1'] 65 ['308,206'] ['$504.01M'] ['Bill Condon'] [['Emma Watson', 'Dan Stevens', 'Luke Evans', 'Josh Gad']]
['13.'] ['Murder on the Orient Express'] ["When a murder occurs on the train on which he's travelling, celebrated detective Hercule Poirot is recruited to solve the case."] ['114 min'] ['Crime, Drama, Mystery'] ['6.5'] 52 ['257,121'] ['$102.83M'] ['Kenneth Branagh'] [['Kenneth Branagh', 'Penélope Cruz', 'Willem Dafoe', 'Judi Dench']]
['14.'] ['Coco'] ["Aspiring musician Miguel, confronted with his family's ancestral ban on music, enters the Land of the Dead to find his great-great-grandfather, a legendary singer."] ['105 min'] ['Animation, Adventure, Comedy'] ['8.4'] 81 ['499,258'] ['$209.73M'] ['Lee Unkrich'] [['Adrian Molina', 'Anthony Gonzalez', 'Gael García Bernal', 'Benjamin Bratt', 'Alanna Ubach']]
['15.'] ['Roman J. Israel, Esq.'] ['Roman J. Israel, Esq., a driven, idealistic defense attorney, finds himself in a tumultuous series of events that lead to a crisis and the necessity for extreme action.'] ['122 min'] ['Crime, Drama, Thriller'] ['6.5'] 58 ['38,454'] ['$11.96M'] ['Dan Gilroy'] [['Denzel Washington', 'Colin Farrell', 'Carmen Ejogo', 'Lynda Gravatt']]
['16.'] ['Hot Summer Nights'] ['In 1991, a sheltered teenage boy comes of age during a wild summer he spends on Cape Cod getting rich from selling pot to gangsters, falling in love for the first time, partying and eventually realizing that he is in over his head.'] ['107 min'] ['Crime, Drama, Romance'] ['6.3'] 44 ['19,239'] [] ['Elijah Bynum'] [['Timothée Chalamet', 'Maika Monroe', 'Alex Roe', 'Emory Cohen']]
['17.'] ['The Shape of Water'] ['At a top secret research facility in the 1960s, a lonely janitor forms a unique relationship with an amphibious creature that is being held in captivity.'] ['123 min'] ['Drama, Fantasy, Romance'] ['7.3'] 87 ['417,823'] ['$63.86M'] ['Guillermo del Toro'] [['Sally Hawkins', 'Octavia Spencer', 'Michael Shannon', 'Doug Jones']]
['18.'] ['The Square'] ["A prestigious Stockholm museum's chief art curator finds himself in times of both professional and personal crisis as he attempts to set up a controversial new exhibit."] ['151 min'] ['Comedy, Drama'] ['7.2'] 73 ['64,951'] ['$1.50M'] ['Ruben Östlund'] [['Claes Bang', 'Elisabeth Moss', 'Dominic West', 'Terry Notary']]
['19.'] ['Mother!'] ["A couple's relationship is tested when uninvited guests arrive at their home, disrupting their tranquil existence."] ['121 min'] ['Drama, Horror, Mystery'] ['6.6'] 75 ['225,678'] ['$17.80M'] ['Darren Aronofsky'] [['Jennifer Lawrence', 'Javier Bardem', 'Ed Harris', 'Michelle Pfeiffer']]
['20.'] ['Hostile'] ['Juliette, a lone survivor of an apocalyptic era, fights to survive against hunger, thirst, a broken leg and strange, disturbing creatures that only come out at nighttime.'] ['83 min'] ['Drama, Horror, Romance'] ['5.4']  ['6,339'] [] ['Mathieu Turi'] [['Brittany Ashworth', 'Grégory Fitoussi', 'Javier Botet', 'Jay Benedict']]
['21.'] ['Dunkirk'] ['Allied soldiers from Belgium, the British Commonwealth and Empire, and France are surrounded by the German Army and evacuated during a fierce battle in World War II.'] ['106 min'] ['Action, Drama, History'] ['7.8'] 94 ['651,478'] ['$188.37M'] ['Christopher Nolan'] [['Fionn Whitehead', 'Barry Keoghan', 'Mark Rylance', 'Tom Hardy']]
['22.'] ['Three Billboards Outside Ebbing, Missouri'] ["A mother personally challenges the local authorities to solve her daughter's murder when they fail to catch the culprit."] ['115 min'] ['Comedy, Crime, Drama'] ['8.1'] 88 ['502,456'] ['$54.51M'] ['Martin McDonagh'] [['Frances McDormand', 'Woody Harrelson', 'Sam Rockwell', 'Caleb Landry Jones']]
['23.'] ['Spider-Man: Homecoming'] ['Peter Parker balances his life as an ordinary high school student in Queens with his superhero alter-ego Spider-Man, and finds himself on the trail of a new menace prowling the skies of New York City.'] ['133 min'] ['Action, Adventure, Sci-Fi'] ['7.4'] 73 ['650,312'] ['$334.20M'] ['Jon Watts'] [['Tom Holland', 'Michael Keaton', 'Robert Downey Jr.', 'Marisa Tomei']]
['24.'] ['Vikram Vedha'] ["Vikram, a no-nonsense police officer, accompanied by Simon, his partner, is on the hunt to capture Vedha, a smuggler and a murderer. Vedha tries to change Vikram's life, which leads to a conflict."] ['147 min'] ['Action, Crime, Drama'] ['8.3']  ['44,281'] [] ['Gayatri'] [['Pushkar', 'Gowtham Selvaraj', 'Madhavan', 'Vijay Sethupathi', 'Shraddha Srinath', 'Kathir']]
['25.'] ['The Ritual'] ['A group of old college friends reunite for a trip to a forest in Sweden, Northern Europe, but encounter a menacing presence there stalking them.'] ['94 min'] ['Horror, Mystery, Thriller'] ['6.3'] 57 ['100,709'] [] ['David Bruckner'] [['Rafe Spall', 'Arsher Ali', 'Robert James-Collier', 'Sam Troughton']]
['26.'] ['Jeepers Creepers 3'] ["Sheriff Dan Tashtego and a team of creeper hunters enlist the help of officer Davis Tubbs to help stop the monster's eating spree."] ['100 min'] ['Horror'] ['3.9']  ['22,847'] ['$2.24M'] ['Victor Salva'] [['Stan Shaw', 'Gabrielle Haugh', 'Brandon Smith', 'Meg Foster']]
['27.'] ['Alien: Covenant'] ['The crew of a colony ship, bound for a remote planet, discover an uncharted paradise with a threat beyond their imagination, and must attempt a harrowing escape.'] ['122 min'] ['Horror, Sci-Fi, Thriller'] ['6.4'] 65 ['281,344'] ['$74.26M'] ['Ridley Scott'] [['Michael Fassbender', 'Katherine Waterston', 'Billy Crudup', 'Danny McBride']]
['28.'] ['Baby Driver'] ['After being coerced into working for a crime boss, a young getaway driver finds himself taking part in a heist doomed to fail.'] ['113 min'] ['Action, Crime, Drama'] ['7.6'] 86 ['531,971'] ['$107.83M'] ['Edgar Wright'] [['Ansel Elgort', 'Jon Bernthal', 'Jon Hamm', 'Eiza González']]
['29.'] ['The Babysitter'] ['When Cole stays up past his bedtime, he discovers that his hot baby sitter belongs to a satanic cult that will stop at nothing to keep him quiet.'] ['85 min'] ['Comedy, Horror'] ['6.3']  ['93,267'] [] ['McG'] [['Judah Lewis', 'Samara Weaving', 'Robbie Amell', 'Hana Mae Lee']]
['30.'] ['Baywatch'] ['Devoted lifeguard Mitch Buchannon butts heads with a brash new recruit, as they uncover a criminal plot that threatens the future of the bay.'] ['116 min'] ['Action, Comedy, Crime'] ['5.5'] 37 ['186,582'] ['$58.06M'] ['Seth Gordon'] [['Dwayne Johnson', 'Zac Efron', 'Alexandra Daddario', 'Priyanka Chopra Jonas']]
['31.'] ['The Mummy'] ['An ancient Egyptian princess is awakened from her crypt beneath the desert, bringing with her malevolence grown over millennia, and terrors that defy human comprehension.'] ['111 min'] ['Action, Adventure, Fantasy'] ['5.4'] 34 ['190,299'] ['$80.10M'] ['Alex Kurtzman'] [['Tom Cruise', 'Sofia Boutella', 'Annabelle Wallis', 'Russell Crowe']]
['32.'] ['Wonder Woman'] ['When a pilot crashes and tells of conflict in the outside world, Diana, an Amazonian warrior in training, leaves home to fight a war, discovering her full powers and true destiny.'] ['141 min'] ['Action, Adventure, Fantasy'] ['7.4'] 76 ['653,467'] ['$412.56M'] ['Patty Jenkins'] [['Gal Gadot', 'Chris Pine', 'Robin Wright', 'Lucy Davis']]
['33.'] ['Wind River'] ['A veteran hunter helps an FBI agent investigate the murder of a young woman on a Wyoming Native American reservation.'] ['107 min'] ['Crime, Drama, Mystery'] ['7.7'] 73 ['250,842'] ['$33.80M'] ['Taylor Sheridan'] [['Elizabeth Olsen', 'Jeremy Renner', 'Graham Greene', 'Kelsey Asbille']]
['34.'] ['Amar'] ['Laura and Carlos love each other as if every day was the last, and perhaps that first love intensity is what will tear them apart a year later.'] ['105 min'] ['Drama, Romance'] ['5.1']  ['4,621'] [] ['Esteban Crespo'] [['María Pedraza', 'Pol Monen', 'Natalia Tena', 'Greta Fernández']]
['35.'] ["The Hitman's Bodyguard"] ["One of the world's top bodyguards gets a new client, a world class hitman who must testify at the International Criminal Court. They must put their differences aside and work together to make it to the trial alive and on time."] ['118 min'] ['Action, Comedy, Crime'] ['6.9'] 47 ['230,941'] ['$75.47M'] ['Patrick Hughes'] [['Ryan Reynolds', 'Samuel L. Jackson', 'Gary Oldman', 'Elodie Yung']]
['36.'] ['Jumanji: Welcome to the Jungle'] ['Four teenagers are sucked into a magical video game, and the only way they can escape is to work together to finish the game.'] ['119 min'] ['Action, Adventure, Comedy'] ['6.9'] 58 ['377,921'] ['$404.52M'] ['Jake Kasdan'] [['Dwayne Johnson', 'Karen Gillan', 'Kevin Hart', 'Jack Black']]
['37.'] ['John Wick: Chapter 2'] ['After returning to the criminal underworld to repay a debt, John Wick discovers that a large bounty has been put on his life.'] ['122 min'] ['Action, Crime, Thriller'] ['7.4'] 75 ['428,189'] ['$92.03M'] ['Chad Stahelski'] [['Keanu Reeves', 'Riccardo Scamarcio', 'Ian McShane', 'Ruby Rose']]
['38.'] ['Thoroughbreds'] ['Two upper-class teenage girls in suburban Connecticut rekindle their unlikely friendship after years of growing apart. Together, they hatch a plan to solve both of their problems-no matter what the cost.'] ['92 min'] ['Comedy, Crime, Drama'] ['6.6'] 75 ['42,897'] ['$2.83M'] ['Cory Finley'] [['Olivia Cooke', 'Anya Taylor-Joy', 'Anton Yelchin', 'Paul Sparks']]
['39.'] ['Guardians of the Galaxy Vol. 2'] ["The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father the ambitious celestial being Ego."] ['136 min'] ['Action, Adventure, Comedy'] ['7.6'] 67 ['674,263'] ['$389.81M'] ['James Gunn'] [['Chris Pratt', 'Zoe Saldana', 'Dave Bautista', 'Vin Diesel']]
['40.'] ['Happy Death Day'] ["A college student must relive the day of her murder over and over again, in a loop that will end only when she discovers her killer's identity."] ['96 min'] ['Comedy, Horror, Mystery'] ['6.6'] 58 ['142,043'] ['$55.68M'] ['Christopher Landon'] [['Jessica Rothe', 'Israel Broussard', 'Ruby Modine', 'Charles Aitken']]
['41.'] ['The Killing of a Sacred Deer'] ['Steven, a charismatic surgeon, is forced to make an unthinkable sacrifice after his life starts to fall apart, when the behavior of a teenage boy he has taken under his wing turns sinister.'] ['121 min'] ['Drama, Horror, Mystery'] ['7.0'] 73 ['154,052'] ['$2.29M'] ['Yorgos Lanthimos'] [['Barry G. Bernson', 'Herb Caillouet', 'Bill Camp', 'Raffey Cassidy']]
['42.'] ['Lady Bird'] ['In 2002, an artistically inclined seventeen-year-old girl comes of age in Sacramento, California.'] ['94 min'] ['Comedy, Drama'] ['7.4'] 93 ['288,923'] ['$48.96M'] ['Greta Gerwig'] [['Saoirse Ronan', 'Laurie Metcalf', 'Tracy Letts', 'Lucas Hedges']]
['43.'] ['Life'] ['A team of scientists aboard the International Space Station discover a rapidly evolving life form that caused extinction on Mars and now threatens all life on Earth.'] ['104 min'] ['Horror, Sci-Fi, Thriller'] ['6.6'] 54 ['230,974'] ['$30.23M'] ['Daniel Espinosa'] [['Jake Gyllenhaal', 'Rebecca Ferguson', 'Ryan Reynolds', 'Hiroyuki Sanada']]
['44.'] ['Pirates of the Caribbean: Dead Men Tell No Tales'] ["Captain Jack Sparrow is pursued by old rival Captain Salazar and a crew of deadly ghosts who have escaped from the Devil's Triangle. They're determined to kill every pirate at sea...notably Jack."] ['129 min'] ['Action, Adventure, Fantasy'] ['6.5'] 39 ['310,529'] ['$172.56M'] ['Joachim Rønning'] [['Espen Sandberg', 'Johnny Depp', 'Geoffrey Rush', 'Javier Bardem', 'Orlando Bloom']]
['45.'] ['Darkest Hour'] ['In May 1940, the fate of World War II hangs on', ', who must decide whether to negotiate with', ', or fight on knowing that it could mean the end of the British Empire.'] ['125 min'] ['Biography, Drama, War'] ['7.4'] 75 ['201,997'] ['$56.47M'] ['Joe Wright'] [['Gary Oldman', 'Lily James', 'Kristin Scott Thomas', 'Ben Mendelsohn']]
['46.'] ['Fifty Shades Darker'] ['While Christian wrestles with his inner demons, Anastasia must confront the anger and envy of the women who came before her.'] ['118 min'] ['Drama, Romance, Thriller'] ['4.5'] 33 ['103,057'] ['$114.38M'] ['James Foley'] [['Dakota Johnson', 'Jamie Dornan', 'Eric Johnson', 'Eloise Mumford']]
['47.'] ['Wonder'] ['Based on the New York Times bestseller, this movie tells the incredibly inspiring and heartwarming story of August Pullman, a boy with facial differences who enters the fifth grade, attending a mainstream elementary school for the first time.'] ['113 min'] ['Drama, Family'] ['7.9'] 66 ['164,299'] ['$132.42M'] ['Stephen Chbosky'] [['Jacob Tremblay', 'Owen Wilson', 'Izabela Vidovic', 'Julia Roberts']]
['48.'] ['Annabelle: Creation'] ["Twelve years after the tragic death of their little girl, a doll-maker and his wife welcome a nun and several girls from a shuttered orphanage into their home, where they become the target of the doll-maker's possessed creation, Annabelle."] ['109 min'] ['Horror, Mystery, Thriller'] ['6.5'] 62 ['134,598'] ['$102.09M'] ['David F. Sandberg'] [['Anthony LaPaglia', 'Samara Lee', 'Miranda Otto', 'Brad Greenquist']]
['49.'] ['Valerian and the City of a Thousand Planets'] ['A dark force threatens Alpha, a vast metropolis and home to species from a thousand planets. Special operatives Valerian and Laureline must race to identify the marauding menace and safeguard not just Alpha, but the future of the universe.'] ['136 min'] ['Action, Adventure, Fantasy'] ['6.4'] 51 ['181,734'] ['$41.19M'] ['Luc Besson'] [['Dane DeHaan', 'Cara Delevingne', 'Clive Owen', 'Rihanna']]
['50.'] ['Justice League'] ["Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists the help of his new-found ally, Diana Prince, to face an even greater enemy."] ['120 min'] ['Action, Adventure, Fantasy'] ['6.1'] 45 ['450,767'] ['$229.02M'] ['Zack Snyder'] [['Ben Affleck', 'Gal Gadot', 'Jason Momoa', 'Ezra Miller']]

['50.'] ['Justice League'] ["Fueled by his restored faith in humanity and inspired by Superman's selfless act, Bruce Wayne enlists the help of his new-found ally, Diana Prince, to face an even greater enemy."] ['120 min'] ['Action, Adventure, Fantasy'] ['6.1'] 45 ['450,767'] ['$229.02M'] ['Zack Snyder'] [['Ben Affleck', 'Gal Gadot', 'Jason Momoa', 'Ezra Miller']]
['51.'] ['Rough Night'] ['Things go terribly wrong for a group of girlfriends who hire a male stripper for a bachelorette party in Miami.'] ['101 min'] ['Comedy'] ['5.2'] 51 ['52,497'] ['$22.06M'] ['Lucia Aniello'] [['Scarlett Johansson', 'Kate McKinnon', 'Zoë Kravitz', 'Ilana Glazer']]
['52.'] ['I, Tonya'] ['Competitive ice skater', 'rises amongst the ranks at the U.S. Figure Skating Championships, but her future in the activity is thrown into doubt when her ex-husband intervenes.'] ['119 min'] ['Biography, Comedy, Drama'] ['7.5'] 77 ['215,297'] ['$30.01M'] ['Craig Gillespie'] [['Margot Robbie', 'Sebastian Stan', 'Allison Janney', 'Julianne Nicholson']]
['53.'] ['American Made'] ['The story of Barry Seal, an American pilot who became a drug-runner for the CIA in the 1980s in a clandestine operation that would be exposed as the Iran-Contra Affair.'] ['115 min'] ['Action, Comedy, Crime'] ['7.1'] 65 ['184,154'] ['$51.34M'] ['Doug Liman'] [['Tom Cruise', 'Domhnall Gleeson', 'Sarah Wright', 'Jesse Plemons']]
['54.'] ["Molly's Game"] ["The true story of Molly Bloom, an Olympic-class skier who ran the world's most exclusive high-stakes poker game and became an FBI target."] ['140 min'] ['Biography, Crime, Drama'] ['7.4'] 71 ['171,766'] ['$28.78M'] ['Aaron Sorkin'] [['Jessica Chastain', 'Idris Elba', 'Kevin Costner', 'Michael Cera']]
['55.'] ['Logan Lucky'] ['Two brothers attempt to pull off a heist during a NASCAR race in North Carolina.'] ['118 min'] ['Action, Comedy, Crime'] ['7.0'] 78 ['150,213'] ['$27.78M'] ['Steven Soderbergh'] [['Channing Tatum', 'Adam Driver', 'Daniel Craig', 'Farrah Mackenzie']]
['56.'] ['Wish Upon'] ['A teenage girl discovers a box that carries magic powers and a deadly price for using them.'] ['90 min'] ['Drama, Fantasy, Horror'] ['5.0'] 32 ['20,979'] ['$14.30M'] ['John R. Leonetti'] [['Joey King', 'Ryan Phillippe', 'Ki Hong Lee', 'Mitchell Slaggert']]
['57.'] ['Gifted'] ['Frank, a single man raising his child prodigy niece Mary, is drawn into a custody battle with his mother.'] ['101 min'] ['Drama'] ['7.6'] 60 ['116,920'] ['$24.80M'] ['Marc Webb'] [['Chris Evans', 'Mckenna Grace', 'Lindsay Duncan', 'Octavia Spencer']]
['58.'] ['King Arthur: Legend of the Sword'] ['Robbed of his birthright, Arthur comes up the hard way in the back alleys of the city. But once he pulls the sword from the stone, he is forced to acknowledge his true legacy - whether he likes it or not.'] ['126 min'] ['Action, Adventure, Drama'] ['6.7'] 41 ['217,094'] ['$39.18M'] ['Guy Ritchie'] [['Charlie Hunnam', 'Astrid Bergès-Frisbey', 'Jude Law', 'Djimon Hounsou']]
['59.'] ['Phantom Thread'] ['Set in 1950s London, Reynolds Woodcock is a renowned dressmaker whose fastidious life is disrupted by a young, strong-willed woman, Alma, who becomes his muse and lover.'] ['130 min'] ['Drama, Romance'] ['7.4'] 90 ['132,600'] ['$21.02M'] ['Paul Thomas Anderson'] [['Vicky Krieps', 'Daniel Day-Lewis', 'Lesley Manville', 'Julie Vollono']]
['60.'] ['Kong: Skull Island'] ['After the Vietnam war, a team of scientists explores an uncharted island in the Pacific, venturing into the domain of the mighty Kong, and must fight to escape a primal Eden.'] ['118 min'] ['Action, Adventure, Fantasy'] ['6.6'] 62 ['318,577'] ['$168.05M'] ['Jordan Vogt-Roberts'] [['Tom Hiddleston', 'Samuel L. Jackson', 'Brie Larson', 'John C. Reilly']]
['61.'] ['Transformers: The Last Knight'] ["A deadly threat from Earth's history reappears and a hunt for a lost artifact takes place between Autobots and Decepticons, while Optimus Prime encounters his creator in space."] ['154 min'] ['Action, Adventure, Sci-Fi'] ['5.2'] 27 ['151,833'] ['$130.17M'] ['Michael Bay'] [['Mark Wahlberg', 'Anthony Hopkins', 'Josh Duhamel', 'Laura Haddock']]
['62.'] ['Kingsman: The Golden Circle'] ["After the Kingsman's headquarters are destroyed and the world is held hostage, an allied spy organization in the United States is discovered. These two elite secret agencies must band together to defeat a common enemy."] ['141 min'] ['Action, Adventure, Comedy'] ['6.7'] 44 ['326,553'] ['$100.23M'] ['Matthew Vaughn'] [['Taron Egerton', 'Colin Firth', 'Mark Strong', 'Channing Tatum']]
['63.'] ['Disobedience'] ['A woman returns to her Orthodox Jewish community that shunned her for her attraction to a female childhood friend. Once back, their passions reignite as they explore the boundaries of faith and sexuality.'] ['114 min'] ['Drama, Romance'] ['6.6'] 74 ['31,539'] ['$3.48M'] ['Sebastián Lelio'] [['Rachel Weisz', 'Rachel McAdams', 'Alessandro Nivola', 'Anton Lesser']]
['64.'] ['Paddington 2'] ["Paddington, now happily settled with the Brown family and a popular member of the local community, picks up a series of odd jobs to buy the perfect present for his Aunt Lucy's 100th birthday, only for the gift to be stolen."] ['103 min'] ['Adventure, Comedy, Family'] ['7.8'] 88 ['78,636'] ['$40.44M'] ['Paul King'] [['Ben Whishaw', 'Hugh Grant', 'Hugh Bonneville', 'Sally Hawkins']]
['65.'] ['Atomic Blonde'] ['An undercover MI6 agent is sent to Berlin during the Cold War to investigate the murder of a fellow agent and recover a missing list of double agents.'] ['115 min'] ['Action, Thriller'] ['6.7'] 63 ['194,103'] ['$51.69M'] ['David Leitch'] [['Charlize Theron', 'James McAvoy', 'John Goodman', 'Eddie Marsan']]
['66.'] ['The Death of Stalin'] ['Moscow, 1953. After being in power for nearly 30 years, Soviet dictator Joseph Vissarionovich Stalin takes ill and quickly dies. Now the members of the Council of Ministers scramble for power.'] ['107 min'] ['Comedy, Drama, History'] ['7.2'] 88 ['103,367'] ['$8.04M'] ['Armando Iannucci'] [['Steve Buscemi', 'Simon Russell Beale', 'Jeffrey Tambor', 'Andrea Riseborough']]
['67.'] ['Detroit'] ['Fact-based drama set during the 1967 Detroit riots in which a group of rogue police officers respond to a complaint with retribution rather than justice on their minds.'] ['143 min'] ['Crime, Drama, History'] ['7.3'] 77 ['53,350'] ['$16.79M'] ['Kathryn Bigelow'] [['John Boyega', 'Anthony Mackie', 'Algee Smith', 'Jacob Latimore']]
['68.'] ['Picture of Beauty'] ['In an early 20th century village, a painter with an unusual commission finds two pretty girls to model for him. The girls slowly come of age while exploring their sexuality and finding liberation in a repressed society.'] ['70 min'] ['Drama, Romance'] ['3.4']  ['1,286'] [] ['Maxim Ford'] [['Taylor Sands', 'Danielle Rose', 'Pawel Hajnos', 'Magdalena Bochan-Jachimek']]
['69.'] ['xXx: Return of Xander Cage'] ['Xander Cage is left for dead after an incident, though he secretly returns to action for a new, tough assignment with his handler Augustus Gibbons.'] ['107 min'] ['Action, Adventure, Thriller'] ['5.2'] 42 ['92,516'] ['$44.90M'] ['D.J. Caruso'] [['Vin Diesel', 'Donnie Yen', 'Deepika Padukone', 'Kris Wu']]
['70.'] ['It Comes at Night'] ['Secure within a desolate home as an unnatural threat terrorizes the world, a man has established a tenuous domestic order with his wife and son. Then a desperate young family arrives seeking refuge.'] ['91 min'] ['Drama, Horror, Mystery'] ['6.2'] 78 ['94,260'] ['$13.99M'] ['Trey Edward Shults'] [['Joel Edgerton', 'Christopher Abbott', 'Carmen Ejogo', 'Riley Keough']]
['71.'] ['Lucky'] ['Lucky follows the spiritual journey of a 90-year-old atheist and the quirky characters that inhabit his off the map desert town.'] ['88 min'] ['Comedy, Drama'] ['7.3'] 80 ['23,801'] ['$0.96M'] ['John Carroll Lynch'] [['Harry Dean Stanton', 'David Lynch', 'Ron Livingston', 'Ed Begley Jr.']]
['72.'] ['Good Time'] ["After a botched bank robbery lands his younger brother in prison, Connie Nikas embarks on a twisted odyssey through New York City's underworld to get his brother Nick out of jail."] ['102 min'] ['Crime, Drama, Thriller'] ['7.3'] 80 ['123,666'] ['$2.03M'] ['Benny Safdie'] [['Josh Safdie', 'Robert Pattinson', 'Benny Safdie', 'Jennifer Jason Leigh', 'Buddy Duress']]
['73.'] ['Hostiles'] ['In 1892, a legendary Army Captain reluctantly agrees to escort a Cheyenne chief and his family through dangerous territory.'] ['134 min'] ['Drama, Western'] ['7.2'] 65 ['85,529'] ['$29.82M'] ['Scott Cooper'] [['Scott Shepherd', 'Rosamund Pike', 'Ava Cooper', 'Stella Cooper']]
['74.'] ['War for the Planet of the Apes'] ['After the apes suffer unimaginable losses, Caesar wrestles with his darker instincts and begins his own mythic quest to avenge his kind.'] ['140 min'] ['Action, Adventure, Drama'] ['7.4'] 82 ['256,794'] ['$146.88M'] ['Matt Reeves'] [['Andy Serkis', 'Woody Harrelson', 'Steve Zahn', 'Karin Konoval']]
['75.'] ['Ghost in the Shell'] ["In the near future, Major Mira Killian is the first of her kind: A human saved from a terrible crash, who is cyber-enhanced to be a perfect soldier devoted to stopping the world's most dangerous criminals."] ['107 min'] ['Action, Crime, Drama'] ['6.3'] 52 ['215,151'] ['$40.56M'] ['Rupert Sanders'] [['Scarlett Johansson', 'Pilou Asbæk', 'Takeshi Kitano', 'Juliette Binoche']]
['76.'] ['Home Again'] ['Life for a single mom in Los Angeles takes an unexpected turn when she allows three young guys to move in with her.'] ['97 min'] ['Comedy, Drama, Romance'] ['5.8'] 41 ['32,773'] ['$27.02M'] ['Hallie Meyers-Shyer'] [['Reese Witherspoon', 'Michael Sheen', 'Candice Bergen', 'Pico Alexander']]
['77.'] ['Power Rangers'] ['When Earth is on the verge of an alien invasion, five teenagers, who are infused with superhuman abilities, must harness their newfound powers to battle this threat - as the Power Rangers.'] ['124 min'] ['Action, Adventure, Fantasy'] ['5.9'] 44 ['108,581'] ['$85.36M'] ['Dean Israelite'] [['Dacre Montgomery', 'Naomi Scott', 'RJ Cyler', 'Ludi Lin']]
['78.'] ['Before I Fall'] ["February 12 is just another day in Sam's charmed life, until it turns out to be her last. Stuck reliving her last day over and over, Sam untangles the mystery around her death and discovers everything she's losing."] ['98 min'] ['Drama, Fantasy, Mystery'] ['6.4'] 58 ['52,803'] ['$12.24M'] ['Ry Russo-Young'] [['Zoey Deutch', 'Halston Sage', 'Cynthy Wu', 'Medalion Rahimi']]
['79.'] ['Only the Brave'] ['Based on the true story of the Granite Mountain Hotshots, a group of elite firefighters who risk everything to protect a town from a historic wildfire.'] ['134 min'] ['Action, Biography, Drama'] ['7.6'] 72 ['69,991'] ['$18.34M'] ['Joseph Kosinski'] [['Josh Brolin', 'Miles Teller', 'Jeff Bridges', 'Jennifer Connelly']]
['80.'] ['Shot Caller'] ['A newly released prisoner is forced by the leaders of his gang to orchestrate a major crime with a brutal rival gang on the streets of Southern California.'] ['121 min'] ['Crime, Drama, Thriller'] ['7.3'] 59 ['86,905'] [] ['Ric Roman Waugh'] [['Nikolaj Coster-Waldau', 'Omari Hardwick', 'Lake Bell', 'Jon Bernthal']]
['81.'] ['Jigsaw'] ['Bodies are turning up around the city, each having met a uniquely gruesome demise. As the investigation proceeds, evidence points to one suspect: John Kramer, the man known as Jigsaw, who has been dead for over 10 years.'] ['92 min'] ['Crime, Horror, Mystery'] ['5.7'] 39 ['79,979'] ['$38.05M'] ['Michael Spierig'] [['Peter Spierig', 'Matt Passmore', 'Tobin Bell', 'Callum Keith Rennie', 'Hannah Emily Anderson']]
['82.'] ['1922'] ['A simple yet proud farmer in the year 1922 conspires to murder his wife for financial gain, convincing his teenage son to assist. But their actions have unintended consequences.'] ['102 min'] ['Crime, Drama, Horror'] ['6.2'] 70 ['63,984'] [] ['Zak Hilditch'] [['Thomas Jane', 'Molly Parker', 'Dylan Schmid', 'Kaitlyn Bernard']]
['83.'] ['Cars 3'] ["Lightning McQueen sets out to prove to a new generation of racers that he's still the best race car in the world."] ['102 min'] ['Animation, Adventure, Comedy'] ['6.7'] 59 ['100,174'] ['$152.90M'] ['Brian Fee'] [['Owen Wilson', 'Cristela Alonzo', 'Chris Cooper', 'Nathan Fillion']]
['84.'] ['The Snowman'] ['Detective Harry Hole investigates the disappearance of a woman whose scarf is found wrapped around an ominous-looking snowman.'] ['119 min'] ['Crime, Drama, Thriller'] ['5.1'] 23 ['64,863'] ['$6.67M'] ['Tomas Alfredson'] [['Michael Fassbender', 'Rebecca Ferguson', 'Charlotte Gainsbourg', 'Jonas Karlsson']]
['85.'] ['Revenge'] ["Never take your mistress on an annual guys' getaway, especially one devoted to hunting - a violent lesson for three wealthy married men."] ['108 min'] ['Action, Drama, Thriller'] ['6.4'] 81 ['43,818'] ['$0.10M'] ['Coralie Fargeat'] [['Matilda Anna Ingrid Lutz', 'Kevin Janssens', 'Vincent Colombe', 'Guillaume Bouchède']]
['86.'] ['American Assassin'] ['After the death of his girlfriend at the hands of terrorists, Mitch Rapp is drawn into the world of counterterrorism, mentored by tough-as-nails former U.S. Navy S.E.A.L. Stan Hurley.'] ['111 min'] ['Action, Thriller'] ['6.2'] 45 ['82,943'] ['$36.25M'] ['Michael Cuesta'] [["Dylan O'Brien", 'Michael Keaton', 'Sanaa Lathan', 'Taylor Kitsch']]
['87.'] ['The Florida Project'] ['Set over one summer, the film follows precocious six-year-old Moonee as she courts mischief and adventure with her ragtag playmates and bonds with her rebellious but caring mother, all while living in the shadows of Walt Disney World.'] ['111 min'] ['Drama'] ['7.6'] 92 ['114,647'] ['$5.90M'] ['Sean Baker'] [['Brooklynn Prince', 'Bria Vinaite', 'Willem Dafoe', 'Christopher Rivera']]
['88.'] ['The Dark Tower'] ["A boy haunted by visions of a dark tower from a parallel reality teams up with the tower's disillusioned guardian to stop an evil warlock known as the Man in Black who plans to use the boy to destroy the tower and open the gates of Hell."] ['95 min'] ['Action, Adventure, Fantasy'] ['5.6'] 34 ['139,118'] ['$50.70M'] ['Nikolaj Arcel'] [['Idris Elba', 'Matthew McConaughey', 'Tom Taylor', 'Dennis Haysbert']]
['89.'] ['Death Note'] ['A high school student named Light Turner discovers a mysterious notebook that has the power to kill anyone whose name is written within its pages, and launches a secret crusade to rid the world of criminals.'] ['101 min'] ['Crime, Drama, Fantasy'] ['4.5'] 43 ['85,176'] [] ['Adam Wingard'] [['Nat Wolff', 'LaKeith Stanfield', 'Margaret Qualley', 'Shea Whigham']]
['90.'] ['The Disaster Artist'] ['When', ', an aspiring film actor, meets the weird and mysterious', 'in an acting class, they form a unique friendship and travel to Hollywood to make their dreams come true.'] ['104 min'] ['Biography, Comedy, Drama'] ['7.3'] 76 ['154,229'] ['$21.12M'] ['James Franco'] [['James Franco', 'Dave Franco', 'Ari Graynor', 'Seth Rogen']]
['91.'] ['What Happened to Monday'] ['In a world where families are limited to one child due to overpopulation, a set of identical septuplets must avoid being put to a long sleep by the government and dangerous infighting while investigating the disappearance of one of their own.'] ['123 min'] ['Action, Crime, Fantasy'] ['6.8'] 47 ['123,327'] [] ['Tommy Wirkola'] [['Noomi Rapace', 'Glenn Close', 'Willem Dafoe', 'Marwan Kenzari']]
['92.'] ['The Fate of the Furious'] ['When a mysterious woman seduces Dominic Toretto into the world of terrorism and a betrayal of those closest to him, the crew face trials that will test them as never before.'] ['136 min'] ['Action, Crime, Thriller'] ['6.6'] 56 ['231,885'] ['$226.01M'] ['F. Gary Gray'] [['Vin Diesel', 'Jason Statham', 'Dwayne Johnson', 'Michelle Rodriguez']]
['93.'] ['You Were Never Really Here'] ["A traumatized veteran unafraid of violence tracks down missing girls for a living. When a job spins out of control, Joe's nightmares overtake him as a conspiracy is uncovered leading to what could be his death trip or his awakening."] ['89 min'] ['Crime, Drama'] ['6.8'] 84 ['119,576'] ['$2.52M'] ['Lynne Ramsay'] [['Joaquin Phoenix', 'Judith Roberts', 'Ekaterina Samsonov', 'John Doman']]
['94.'] ['Aterrados'] ['When strange events occur in a neighborhood in Buenos Aires, a doctor specializing in the paranormal, her colleague, and an ex police officer decide to investigate further.'] ['87 min'] ['Horror'] ['6.4']  ['15,989'] [] ['Demián Rugna'] [['Maximiliano Ghione', 'Norberto Gonzalo', 'Elvira Onetto', 'George L. Lewis']]
['95.'] ['The Little Hours'] ['In the Middle Ages, a young servant fleeing from his master takes refuge at a convent full of emotionally unstable nuns. Introduced as a deaf mute man, he must fight to hold his cover as the nuns try to resist temptation.'] ['90 min'] ['Comedy, Romance'] ['5.8'] 69 ['23,184'] ['$1.65M'] ['Jeff Baena'] [['Alison Brie', 'Dave Franco', 'Kate Micucci', 'Aubrey Plaza']]
['96.'] ['Papillon'] ["Wrongfully convicted for murder, Henri Charriere forms an unlikely relationship with fellow inmate and quirky convicted counterfeiter, Louis Dega, in an attempt to escape from the notorious penal colony on Devil's Island."] ['133 min'] ['Adventure, Biography, Crime'] ['7.2'] 51 ['75,766'] ['$2.34M'] ['Michael Noer'] [['Charlie Hunnam', 'Damijan Oklopdzic', 'Christopher Fairbank', 'Jason Ryan']]
['97.'] ['Cult of Chucky'] ['Chucky returns to terrorize his human victim, Nica. Meanwhile, the killer doll has some scores to settle with his old enemies, with the help of his former wife.'] ['91 min'] ['Horror, Thriller'] ['5.2'] 69 ['25,754'] [] ['Don Mancini'] [['Allison Dawn Doiron', 'Alex Vincent', 'Brad Dourif', 'Fiona Dourif']]
['98.'] ['Newness'] ['In contemporary Los Angeles, two millennials navigating a social media-driven hookup culture begin a relationship that pushes both emotional and physical boundaries.'] ['117 min'] ['Drama, Romance'] ['6.3'] 50 ['16,974'] [] ['Drake Doremus'] [['Nicholas Hoult', 'Laia Costa', 'Danny Huston', 'Courtney Eaton']]
['99.'] ['The Circle'] ['A woman lands a dream job at a powerful tech company called the Circle, only to uncover an agenda that will affect the lives of all of humanity.'] ['110 min'] ['Drama, Sci-Fi, Thriller'] ['5.3'] 43 ['93,144'] ['$20.50M'] ['James Ponsoldt'] [['Emma Watson', 'Tom Hanks', 'John Boyega', 'Ellar Coltrane']]

['100.'] ['Geostorm'] ["When the network of satellites designed to control the global climate starts to attack Earth, it's a race against the clock for its creator to uncover the real threat before a worldwide Geostorm wipes out everything and everyone."] ['109 min'] ['Action, Sci-Fi, Thriller'] ['5.3'] 21 ['108,452'] ['$33.70M'] ['Dean Devlin'] [['Gerard Butler', 'Jim Sturgess', 'Abbie Cornish', 'Alexandra Maria Lara']]
['101.'] ['The Foreigner'] ["A humble businessman with a buried past seeks justice when his daughter is killed in an act of terrorism. A cat-and-mouse conflict ensues with a government official, whose past may hold clues to the killers' identities."] ['113 min'] ['Action, Thriller'] ['7.0'] 55 ['115,034'] ['$34.39M'] ['Martin Campbell'] [['Katie Leung', 'Jackie Chan', 'Rufus Jones', 'Mark Tandy']]
['102.'] ['Leatherface'] ['A teenage Leatherface escapes from a mental hospital with three other inmates, kidnapping a young nurse and taking her on a road trip from hell, while being pursued by a lawman out for revenge.'] ['90 min'] ['Crime, Horror, Thriller'] ['5.0'] 40 ['24,308'] [] ['Alexandre Bustillo'] [['Julien Maury', 'Stephen Dorff', 'Lili Taylor', 'Sam Strike', 'Vanessa Grasse']]
['103.'] ['To the Bone'] ['A young woman, dealing with anorexia, meets an unconventional doctor who challenges her to face her condition and embrace life.'] ['107 min'] ['Drama'] ['6.8'] 64 ['49,848'] [] ['Marti Noxon'] [['Rebekah Kennedy', 'Lily Collins', 'Dana L. Wilson', 'Ziah Colon']]
['104.'] ['The Lego Batman Movie'] ['A cooler-than-ever Bruce Wayne must deal with the usual suspects as they plan to rule Gotham City, while discovering that he has accidentally adopted a teenage orphan who wishes to become his sidekick.'] ['104 min'] ['Animation, Action, Adventure'] ['7.3'] 75 ['151,739'] ['$175.75M'] ['Chris McKay'] [['Will Arnett', 'Michael Cera', 'Rosario Dawson', 'Ralph Fiennes']]
['105.'] ['The Beguiled'] ['The unexpected arrival of a wounded Union soldier at a girls school in Virginia during the American Civil War leads to jealousy and betrayal.'] ['93 min'] ['Drama, Thriller, War'] ['6.3'] 77 ['57,929'] ['$10.58M'] ['Sofia Coppola'] [['Nicole Kidman', 'Kirsten Dunst', 'Elle Fanning', 'Colin Farrell']]
['106.'] ['Marrowbone'] ['A young man and his three younger siblings, who have kept secret the death of their beloved mother in order to remain together, are plagued by a sinister presence in the sprawling manor in which they live.'] ['110 min'] ['Adventure, Drama, Horror'] ['6.6'] 63 ['32,147'] ['$0.00M'] ['Sergio G. Sánchez'] [['George MacKay', 'Anya Taylor-Joy', 'Charlie Heaton', 'Mia Goth']]
['107.'] ['The Endless'] ['As kids, they escaped a UFO death cult. Now, two adult brothers seek answers after an old videotape surfaces and brings them back to where they began.'] ['111 min'] ['Drama, Fantasy, Horror'] ['6.5'] 80 ['43,037'] ['$0.27M'] ['Justin Benson'] [['Aaron Moorhead', 'Aaron Moorhead', 'Justin Benson', 'Callie Hernandez', 'Tate Ellington']]
['108.'] ['The Big Sick'] ["Pakistan-born comedian Kumail Nanjiani and grad student Emily Gardner fall in love but struggle as their cultures clash. When Emily contracts a mysterious illness, Kumail finds himself forced to face her feisty parents, his family's expectations, and his true feelings."] ['120 min'] ['Comedy, Drama, Romance'] ['7.5'] 86 ['135,622'] ['$42.87M'] ['Michael Showalter'] [['Kumail Nanjiani', 'Zoe Kazan', 'Holly Hunter', 'Ray Romano']]
['109.'] ['Baahubali 2: The Conclusion'] ['When Shiva, the son of Bahubali, learns about his heritage, he begins to look for answers. His story is juxtaposed with past events that unfolded in the Mahishmati Kingdom.'] ['167 min'] ['Action, Drama'] ['8.2']  ['100,752'] ['$20.19M'] ['S.S. Rajamouli'] [['Prabhas', 'Rana Daggubati', 'Anushka Shetty', 'Tamannaah Bhatia']]
['110.'] ['A Ghost Story'] ['In this singular exploration of legacy, love, loss, and the enormity of existence, a recently deceased, white-sheeted ghost returns to his suburban home to try to reconnect with his bereft wife.'] ['92 min'] ['Drama, Fantasy, Romance'] ['6.8'] 84 ['72,642'] ['$1.60M'] ['David Lowery'] [['Casey Affleck', 'Rooney Mara', 'McColm Cephas Jr.', 'Kenneisha Thompson']]
['111.'] ['Loving Pablo'] ['A journalist strikes up a romantic relationship with notorious drug lord Pablo Escobar.'] ['123 min'] ['Biography, Crime, Drama'] ['6.3'] 42 ['20,638'] ['$0.02M'] ['Fernando León de Aranoa'] [['Javier Bardem', 'Penélope Cruz', 'Peter Sarsgaard', 'Julieth Restrepo']]
['112.'] ['Verónica'] ['Madrid, 1991. A teen girl finds herself besieged by an evil supernatural force after she played Ouija with two classmates.'] ['105 min'] ['Horror'] ['6.2']  ['42,109'] [] ['Paco Plaza'] [['Sandra Escacena', 'Bruna González', 'Claudia Placer', 'Iván Chavero']]
['113.'] ['The Post'] ["A cover-up spanning four U.S. Presidents pushes the country's first female newspaper publisher and her editor to join an unprecedented battle between press and government."] ['116 min'] ['Biography, Drama, History'] ['7.2'] 83 ['151,292'] ['$81.90M'] ['Steven Spielberg'] [['Meryl Streep', 'Tom Hanks', 'Sarah Paulson', 'Bob Odenkirk']]
['114.'] ['The Boss Baby'] ['A suit-wearing, briefcase-carrying baby pairs up with his 7-year old brother to stop the dastardly plot of the CEO of Puppy Co.'] ['97 min'] ['Animation, Adventure, Comedy'] ['6.3'] 50 ['127,103'] ['$175.00M'] ['Tom McGrath'] [['Alec Baldwin', 'Steve Buscemi', 'Jimmy Kimmel', 'Lisa Kudrow']]
['115.'] ['All the Money in the World'] ['The story of the kidnapping of 16-year-old', 'and the desperate attempt by his devoted mother to convince his billionaire grandfather', 'to pay the ransom.'] ['132 min'] ['Biography, Crime, Drama'] ['6.8'] 72 ['85,537'] ['$25.11M'] ['Ridley Scott'] [['Michelle Williams', 'Christopher Plummer', 'Mark Wahlberg', 'Romain Duris']]
['116.'] ['Pitch Perfect 3'] ['Following their win at the world championship, the now separated Bellas reunite for one last singing competition at an overseas USO tour, but face a group who uses both instruments and voices.'] ['93 min'] ['Comedy, Music'] ['5.8'] 40 ['64,676'] ['$104.90M'] ['Trish Sie'] [['Anna Kendrick', 'Rebel Wilson', 'Brittany Snow', 'Anna Camp']]
['117.'] ['CHIPS'] ['An inexperienced rookie is teamed up with a hardened pro at the California Highway Patrol in Los Angeles; the newbie officer soon learns his partner is really an undercover Fed investigating a heist which may involve some crooked cops.'] ['100 min'] ['Action, Comedy, Crime'] ['6.0'] 28 ['48,325'] ['$18.60M'] ['Dax Shepard'] [['Michael Peña', 'Dax Shepard', "Vincent D'Onofrio", 'Rosa Salazar']]
['118.'] ['Jungle'] ['A group of friends join a guide for a trek into the Bolivian jungle, searching for an Indian village. The men soon realize that the jungle is a difficult place to be.'] ['115 min'] ['Action, Adventure, Biography'] ['6.7'] 48 ['57,441'] [] ['Greg McLean'] [['Daniel Radcliffe', 'Thomas Kretschmann', 'Alex Russell', 'Joel Jackson']]
['119.'] ['Stronger'] ['Stronger is the inspiring real life story of Jeff Bauman, an ordinary man who captured the hearts of his city and the world to become a symbol of hope after surviving the 2013 Boston Marathon bombing.'] ['119 min'] ['Biography, Drama'] ['6.9'] 76 ['45,492'] ['$4.21M'] ['David Gordon Green'] [['Jake Gyllenhaal', 'Tatiana Maslany', 'Miranda Richardson', 'Richard Lane Jr.']]
['120.'] ['Despicable Me 3'] ['Gru meets his long-lost, charming, cheerful, and more successful twin brother Dru, who wants to team up with him for one last criminal heist.'] ['89 min'] ['Animation, Adventure, Comedy'] ['6.2'] 49 ['135,811'] ['$264.62M'] ['Kyle Balda'] [['Pierre Coffin', 'Eric Guillon', 'Steve Carell', 'Kristen Wiig', 'Trey Parker', 'Miranda Cosgrove']]
['121.'] ['Okja'] ['A young girl risks everything to prevent a powerful, multinational company from kidnapping her best friend - a fascinating beast named Okja.'] ['120 min'] ['Action, Adventure, Drama'] ['7.3'] 75 ['121,683'] [] ['Bong Joon Ho'] [['Tilda Swinton', 'Paul Dano', 'Seo-hyun Ahn', 'Jake Gyllenhaal']]
['122.'] ['Ferdinand'] ['After Ferdinand, a bull with a big heart, is mistaken for a dangerous beast, he is captured and torn from his home. Determined to return to his family, he rallies a misfit team on the ultimate adventure.'] ['108 min'] ['Animation, Adventure, Comedy'] ['6.7'] 58 ['57,677'] ['$84.41M'] ['Carlos Saldanha'] [['John Cena', 'Kate McKinnon', 'Bobby Cannavale', 'Jack Gore']]
['123.'] ['Rings'] ['A young woman finds herself on the receiving end of a terrifying curse that threatens to take her life in 7 days.'] ['102 min'] ['Drama, Horror, Mystery'] ['4.5'] 25 ['40,978'] ['$27.79M'] ['F. Javier Gutiérrez'] [['Matilda Anna Ingrid Lutz', 'Alex Roe', 'Johnny Galecki', "Vincent D'Onofrio"]]
['124.'] ['The Shack'] ['A grieving man receives a mysterious, personal invitation to meet with God at a place called "The Shack."'] ['132 min'] ['Drama, Fantasy'] ['6.2'] 32 ['36,170'] ['$57.39M'] ['Stuart Hazeldine'] [['Sam Worthington', 'Octavia Spencer', 'Tim McGraw', 'Radha Mitchell']]
['125.'] ['Bright'] ['A detective must work with an Orc to find a powerful wand before evil creatures do.'] ['117 min'] ['Action, Fantasy, Thriller'] ['6.3'] 29 ['189,417'] [] ['David Ayer'] [['Will Smith', 'Joel Edgerton', 'Noomi Rapace', 'Edgar Ramírez']]
['126.'] ['Trauma'] ['Four friends, partying in a house in the middle of nowhere are brutally attacked by a man and his son, forcing the remaining women to take vengeance upon them.'] ['106 min'] ['Action, Drama, Horror'] ['5.0']  ['1,713'] [] ['Lucio A. Rojas'] [['Catalina Martin', 'Macarena Carrere', 'Dominga Bofill', 'Ximena del Solar']]
['127.'] ['Dog Years'] ["An aging former movie star is forced to face the reality that his glory days are behind him. On its surface, the film is a tale about faded fame. At its core, it's a universal story about growing old."] ['94 min'] ['Drama'] ['6.9'] 46 ['4,357'] ['$0.01M'] ['Adam Rifkin'] [['Burt Reynolds', 'Ariel Winter', 'Clark Duke', 'Chevy Chase']]
['128.'] ['The Perfect Wife'] ['A young freelance photographer in Houston meets a beautiful determined teacher from Atlanta. His best friend tries to warn him about her. There is something a little strange about Claudia. ...', '»'] ['81 min'] ['Thriller'] ['3.2']  ['83'] [] ['Jonathan Milton'] [['Omar Gooding', 'Cherie Johnson', 'Antwon Tanner', 'Donny Boaz']]
['129.'] ['47 Meters Down'] ['Two sisters vacationing in Mexico are trapped in a shark cage at the bottom of the ocean. With less than an hour of oxygen left and great white sharks circling nearby, they must fight to survive.'] ['89 min'] ['Adventure, Drama, Horror'] ['5.6'] 52 ['55,781'] ['$44.31M'] ['Johannes Roberts'] [['Mandy Moore', 'Claire Holt', 'Matthew Modine', 'Chris Johnson']]
['130.'] ['Unlocked'] ['A CIA interrogator is lured into a ruse that puts London at risk of a biological attack.'] ['98 min'] ['Action, Thriller'] ['6.3'] 46 ['35,668'] [] ['Michael Apted'] [['Noomi Rapace', 'Orlando Bloom', 'Toni Collette', 'John Malkovich']]
['131.'] ['Mudbound'] ['Two men return home from World War II to work on a farm in rural Mississippi, where they struggle to deal with racism and adjusting to life after war.'] ['134 min'] ['Drama, War'] ['7.4'] 85 ['49,549'] [] ['Dee Rees'] [['Jason Mitchell', 'Carey Mulligan', 'Jason Clarke', 'Mary J. Blige']]
['132.'] ['Gi-eok-ui bam'] ['When his abducted brother returns seemingly a different man with no memory of the past 19 days, Jin-seok chases after the truth behind the kidnapping.'] ['108 min'] ['Mystery, Thriller'] ['7.4']  ['33,987'] [] ['Hang-jun Jang'] [['Kang Ha-neul', 'Yeon Je Hyung', 'Mu-Yeol Kim', 'Na-ra Lee']]
['133.'] ['The Upside'] ["A comedic look at the relationship between a wealthy man with quadriplegia and an unemployed man with a criminal record who's hired to help him."] ['126 min'] ['Comedy, Drama'] ['7.0'] 46 ['56,855'] ['$108.25M'] ['Neil Burger'] [['Kevin Hart', 'Bryan Cranston', 'Nicole Kidman', 'Aja Naomi King']]
['134.'] ['The Glass Castle'] ["A young girl comes of age in a dysfunctional family of nonconformist nomads with a mother who's an eccentric artist and an alcoholic father who would stir the children's imagination with hope as a distraction to their poverty."] ['127 min'] ['Biography, Drama'] ['7.1'] 56 ['34,017'] ['$17.27M'] ['Destin Daniel Cretton'] [['Brie Larson', 'Woody Harrelson', 'Naomi Watts', 'Ella Anderson']]
['135.'] ['Cargo'] ['After an epidemic spreads all over Australia, a father searches for someone willing to protect his daughter.'] ['105 min'] ['Drama, Horror, Sci-Fi'] ['6.3'] 65 ['43,945'] [] ['Ben Howling'] [['Yolanda Ramke', 'Simone Landers', 'Martin Freeman', 'Marlee Jane McPherson-Dobbins', 'Lily Anne McPherson-Dobbins']]
['136.'] ['Beach Rats'] ['A Brooklyn teenager spends his days experimenting with drugs and looking online for older men to meet.'] ['98 min'] ['Drama'] ['6.4'] 78 ['14,703'] ['$0.47M'] ['Eliza Hittman'] [['Harris Dickinson', 'Madeline Weinstein', 'Kate Hodge', 'Neal Huff']]
['137.'] ['Creep 2'] ['A video artist looking for work drives to a remote house in the forest to meet a man claiming to be a serial killer. But after agreeing to spend the day with him, she soon realizes that she made a deadly mistake.'] ['78 min'] ['Crime, Drama, Horror'] ['6.4'] 75 ['26,793'] [] ['Patrick Brice'] [['Karan Soni', 'Mark Duplass', 'Desiree Akhavan', 'Kyle Field']]
['138.'] ['Crooked House'] ["In Agatha Christie's most twisted tale, a spy-turned-private-detective is lured by his former lover to catch her grandfather's murderer before Scotland Yard exposes dark family secrets."] ['115 min'] ['Crime, Drama, Mystery'] ['6.3'] 59 ['24,682'] [] ['Gilles Paquet-Brenner'] [['Max Irons', 'Stefanie Martini', 'Glenn Close', 'Honor Kneafsey']]
['139.'] ['Escape Room'] ['Six friends test their intelligence when an escape room they participate in takes a dark and twisted turn.'] ['81 min'] ['Horror, Thriller'] ['4.2']  ['12,656'] [] ['Will Wernick'] [['Evan Williams', 'Annabelle Stephenson', 'Elisabeth Hower', 'Dan J. Johnson']]
['140.'] ['Brawl in Cell Block 99'] ['A former boxer-turned-drug runner lands in a prison battleground after a deal gets deadly.'] ['132 min'] ['Action, Crime, Drama'] ['7.1'] 79 ['67,005'] [] ['S. Craig Zahler'] [['Vince Vaughn', 'Jennifer Carpenter', 'Don Johnson', 'Udo Kier']]
['141.'] ['T2 Trainspotting'] ['After 20 years abroad, Mark Renton returns to Scotland and reunites with his old friends Sick Boy, Spud, and Begbie.'] ['117 min'] ['Drama'] ['7.2'] 67 ['124,600'] ['$2.40M'] ['Danny Boyle'] [['Ewan McGregor', 'Ewen Bremner', 'Jonny Lee Miller', 'Robert Carlyle']]
['142.'] ['Thelma'] ["A confused religious girl tries to deny her feelings for a female friend who's in love with her. This causes her suppressed subconsciously-controlled psychokinetic powers to reemerge with devastating results."] ['116 min'] ['Drama, Fantasy, Horror'] ['7.0'] 74 ['32,700'] ['$0.15M'] ['Joachim Trier'] [['Eili Harboe', 'Kaya Wilkins', 'Henrik Rafaelsen', 'Ellen Dorrit Petersen']]
['143.'] ['Girls Trip'] ["When four lifelong friends travel to New Orleans for the annual Essence Festival, sisterhoods are rekindled, wild sides are rediscovered, and there's enough dancing, drinking, brawling and romancing to make the Big Easy blush."] ['122 min'] ['Adventure, Comedy, Drama'] ['6.2'] 71 ['37,840'] ['$115.17M'] ['Malcolm D. Lee'] [['Regina Hall', 'Queen Latifah', 'Jada Pinkett Smith', 'Tiffany Haddish']]
['144.'] ["God's Own Country"] ['Spring. Yorkshire. Young farmer Johnny Saxby numbs his daily frustrations with binge drinking and casual sex, until the arrival of a Romanian migrant worker for lambing season ignites an intense relationship that sets Johnny on a new path.'] ['104 min'] ['Drama, Romance'] ['7.6'] 85 ['31,230'] ['$0.34M'] ['Francis Lee'] [["Josh O'Connor", 'Alec Secareanu', 'Gemma Jones', 'Ian Hart']]
['145.'] ['The Meyerowitz Stories (New and Selected)'] ['An estranged family gathers together in New York City for an event celebrating the artistic work of their father.'] ['112 min'] ['Comedy, Drama'] ['6.9'] 79 ['49,484'] [] ['Noah Baumbach'] [['Adam Sandler', 'Grace Van Patten', 'Dustin Hoffman', 'Elizabeth Marvel']]
['146.'] ['War Machine'] ['An idiosyncratic general confronts opposition from enemies, allies, and bureaucrats while leading a massive rebuilding operation in Afghanistan.'] ['122 min'] ['Comedy, Drama, War'] ['6.0'] 56 ['46,944'] [] ['David Michôd'] [['Brad Pitt', 'Daniel Betts', 'John Magaro', 'Emory Cohen']]
['147.'] ['Beomjoidosi'] ["Based on real events, this crime action film depicts a Seoul detective's attempts to keep peace while two Chinese-Korean gangs battle over turf in the neighborhood."] ['121 min'] ['Action, Crime, Thriller'] ['7.2']  ['8,413'] [] ['Yoon-Seong Kang'] [['Ma Dong-seok', 'Yoon Kyesang', 'Jo Jae-yoon', 'Gwi-hwa Choi']]
['148.'] ["Daddy's Home 2"] ["Having finally gotten used to each other's existence, Brad and Dusty must now deal with their intrusive fathers during the holidays."] ['100 min'] ['Comedy'] ['6.0'] 30 ['73,634'] ['$104.03M'] ['Sean Anders'] [['Will Ferrell', 'Mark Wahlberg', 'Mel Gibson', 'John Lithgow']]
['149.'] ['The Mountain Between Us'] ['Stranded after a tragic plane crash, two strangers must forge a connection to survive the extreme elements of a remote snow-covered mountain. When they realize help is not coming, they embark on a perilous journey across the wilderness.'] ['112 min'] ['Drama, Thriller'] ['6.4'] 48 ['75,697'] ['$30.35M'] ['Hany Abu-Assad'] [['Kate Winslet', 'Idris Elba', 'Beau Bridges', 'Dermot Mulroney']]

['150.'] ['Sleepless'] ['A cop with a connection to the criminal underworld scours a nightclub in search of his kidnapped son.'] ['95 min'] ['Action, Thriller'] ['5.6'] 34 ['32,720'] ['$20.78M'] ['Baran bo Odar'] [['Jamie Foxx', 'Michelle Monaghan', 'Dermot Mulroney', 'Gabrielle Union']]
['151.'] ['Sand Castle'] ['The story follows a young soldier, and his introduction into the 2003 invasion of Iraq. Based on true events, it bears witness to the destruction, and horrors of war.'] ['113 min'] ['Action, Drama, War'] ['6.3'] 45 ['23,770'] [] ['Fernando Coimbra'] [['Nicholas Hoult', 'Logan Marshall-Green', 'Henry Cavill', 'Glen Powell']]
['152.'] ['The Emoji Movie'] ['Gene, a multi-expressional emoji, sets out on a journey to become a normal emoji.'] ['86 min'] ['Animation, Adventure, Comedy'] ['3.3'] 12 ['64,724'] ['$86.09M'] ['Tony Leondis'] [['T.J. Miller', 'James Corden', 'Anna Faris', 'Maya Rudolph']]
['153.'] ['Flatliners'] ['Five medical students, obsessed by what lies beyond the confines of life, embark on a daring experiment: by stopping their hearts for short periods, each triggers a near-death experience - giving them a firsthand account of the afterlife.'] ['109 min'] ['Drama, Horror, Mystery'] ['5.2'] 27 ['47,604'] ['$16.87M'] ['Niels Arden Oplev'] [['Elliot Page', 'Diego Luna', 'Nina Dobrev', 'James Norton']]
['154.'] ['A Bad Moms Christmas'] ['As their own mothers drop in unexpectedly, our three under-appreciated and over-burdened moms rebel against the challenges and expectations of the Super Bowl for mothers: Christmas.'] ['104 min'] ['Comedy'] ['5.6'] 42 ['50,878'] ['$72.11M'] ['Jon Lucas'] [['Scott Moore', 'Mila Kunis', 'Kristen Bell', 'Kathryn Hahn', 'Jay Hernandez']]
['155.'] ['Ingrid Goes West'] ['An unhinged social media stalker moves to LA and ingratiates herself into the life of an Instagram star.'] ['98 min'] ['Comedy, Drama'] ['6.6'] 71 ['42,372'] ['$3.02M'] ['Matt Spicer'] [['Aubrey Plaza', 'Elizabeth Olsen', "O'Shea Jackson Jr.", 'Wyatt Russell']]
['156.'] ['My Days of Mercy'] ["The daughter of a man on death row falls in love with a woman on the opposing side of her family's political cause."] ['108 min'] ['Drama, Romance'] ['6.5']  ['4,934'] [] ['Tali Shalom-Ezer'] [['Elliot Page', 'Kate Mara', 'Amy Seimetz', 'Charlie Shotwell']]
['157.'] ['First Reformed'] ['A minister of a small congregation in upstate New York grapples with mounting despair brought on by tragedy, worldly concerns and a tormented past.'] ['113 min'] ['Drama, Mystery, Thriller'] ['7.1'] 85 ['56,844'] ['$3.45M'] ['Paul Schrader'] [['Ethan Hawke', 'Amanda Seyfried', 'Cedric the Entertainer', 'Victoria Hill']]
['158.'] ["A Dog's Purpose"] ['A dog looks to discover his purpose in life over the course of several lifetimes and owners.'] ['100 min'] ['Adventure, Comedy, Drama'] ['7.2'] 43 ['72,775'] ['$64.51M'] ['Lasse Hallström'] [['Josh Gad', 'Dennis Quaid', 'Peggy Lipton', 'Bryce Gheisar']]
['159.'] ['Going in Style'] ['Desperate to pay the bills and come through for their loved ones, three lifelong pals risk it all by embarking on a daring bid to knock off the very bank that absconded with their money.'] ['96 min'] ['Comedy, Crime'] ['6.6'] 50 ['85,963'] ['$45.02M'] ['Zach Braff'] [['Michael Caine', 'Alan Arkin', 'Ann-Margret', 'Matt Dillon']]
['160.'] ['Super Dark Times'] ['Teenagers Zach and Josh have been best friends their whole lives, but when a gruesome accident leads to a cover-up, the secret drives a wedge between them and propels them down a rabbit hole of escalating paranoia and violence.'] ['103 min'] ['Crime, Drama, Horror'] ['6.6'] 75 ['23,556'] ['$0.03M'] ['Kevin Phillips'] [['Owen Campbell', 'Charlie Tahan', 'Elizabeth Cappuccino', 'Amy Hargreaves']]
['161.'] ['The Bye Bye Man'] ['Three friends stumble upon the horrific origins of a mysterious figure they discover is the root cause of the evil behind unspeakable acts.'] ['96 min'] ['Drama, Fantasy, Horror'] ['4.3'] 37 ['24,382'] ['$22.38M'] ['Stacy Title'] [['Douglas Smith', 'Lucien Laviscount', 'Cressida Bonas', 'Michael Trucco']]
['162.'] ['The Book of Henry'] ["With instructions from her genius son's carefully crafted notebook, a single mother sets out to rescue a young girl from the hands of her abusive stepfather."] ['105 min'] ['Crime, Drama, Thriller'] ['6.5'] 31 ['27,690'] ['$4.22M'] ['Colin Trevorrow'] [['Naomi Watts', 'Jaeden Martell', 'Jacob Tremblay', 'Sarah Silverman']]
['163.'] ['Mayhem'] ['A virus spreads through an office complex causing white-collar workers to act out their worst impulses.'] ['86 min'] ['Action, Comedy, Horror'] ['6.4'] 62 ['21,930'] [] ['Joe Lynch'] [['Steven Yeun', 'Samara Weaving', 'Steven Brand', 'Caroline Chikezie']]
['164.'] ['The Space Between Us'] ['The first human born on Mars travels to Earth for the first time, experiencing the wonders of the planet through fresh eyes. He embarks on an adventure with a street-smart girl to discover how he came to be.'] ['120 min'] ['Drama, Romance, Sci-Fi'] ['6.4'] 33 ['53,259'] ['$7.89M'] ['Peter Chelsom'] [['Gary Oldman', 'Asa Butterfield', 'Carla Gugino', 'Britt Robertson']]
['165.'] ['All Eyez on Me'] ['Tells the true and untold story of prolific rapper, actor, poet and activist Tupac Shakur.'] ['139 min'] ['Biography, Drama, Music'] ['5.8'] 38 ['23,430'] ['$44.92M'] ['Benny Boom'] [['Demetrius Shipp Jr.', 'Danai Gurira', 'Kat Graham', 'Annie Ilonzeh']]
['166.'] ['Battle of the Sexes'] ['The true story of the 1973 tennis match between World number one', 'and ex-champ and serial hustler', '.'] ['121 min'] ['Biography, Comedy, Drama'] ['6.7'] 73 ['56,071'] ['$12.64M'] ['Jonathan Dayton'] [['Valerie Faris', 'Emma Stone', 'Steve Carell', 'Andrea Riseborough', 'Sarah Silverman']]
['167.'] ['Tulip Fever'] ["An artist falls for a young married woman while he's commissioned to paint her portrait during the Tulip mania of seventeenth century Amsterdam."] ['105 min'] ['Drama, History, Romance'] ['6.2'] 38 ['21,374'] ['$2.43M'] ['Justin Chadwick'] [['Alicia Vikander', 'Dane DeHaan', "Jack O'Connell", 'Holliday Grainger']]
['168.'] ['Columbus'] ['A Korean-born man finds himself stuck in Columbus, Indiana, where his architect father is in a coma. The man meets a young woman who wants to stay in Columbus with her mother, a recovering addict, instead of pursuing her own dreams.'] ['104 min'] ['Drama'] ['7.2'] 89 ['18,168'] ['$1.02M'] ['Kogonada'] [['John Cho', 'Haley Lu Richardson', 'Parker Posey', 'Michelle Forbes']]
['169.'] ['Flower'] ['A sexually-curious teen forms an unorthodox kinship with her mentally-unstable stepbrother.'] ['90 min'] ['Comedy, Drama'] ['6.0'] 45 ['9,351'] ['$0.33M'] ['Max Winkler'] [['Zoey Deutch', 'Kathryn Hahn', 'Tim Heidecker', 'Adam Scott']]
['170.'] ['The Layover'] ['Two friends on a road trip compete for the affections of a handsome man when their flight is redirected due to a hurricane.'] ['88 min'] ['Comedy, Romance'] ['4.7'] 15 ['14,940'] [] ['William H. Macy'] [['Kate Upton', 'Alexandra Daddario', 'Matt Barr', 'Matt Jones']]
['171.'] ['Loving Vincent'] ["In a story depicted in oil painted animation, a young man comes to the last hometown of painter Vincent van Gogh to deliver the troubled artist's final letter and ends up investigating his final days there."] ['94 min'] ['Animation, Biography, Crime'] ['7.8'] 62 ['58,194'] ['$6.74M'] ['Dorota Kobiela'] [['Hugh Welchman', 'Douglas Booth', 'Jerome Flynn', 'Robert Gulaczyk', 'Helen McCrory']]
['172.'] ['Professor Marston and the Wonder Women'] ['The story of psychologist William Moulton Marston, and his polyamorous relationship with his wife and their mistress who would inspire his creation of the superheroine, Wonder Woman.'] ['108 min'] ['Biography, Drama, History'] ['7.0'] 68 ['26,578'] ['$1.59M'] ['Angela Robinson'] [['Luke Evans', 'Rebecca Hall', 'Bella Heathcote', 'Connie Britton']]
['173.'] ['Mom and Dad'] ['A teenage girl and her younger brother must survive a wild 24 hours during which a mass hysteria of unknown origin causes parents to turn violently on their own kids.'] ['86 min'] ['Comedy, Horror, Thriller'] ['5.5'] 59 ['24,241'] [] ['Brian Taylor'] [['Nicolas Cage', 'Selma Blair', 'Anne Winters', 'Zackary Arthur']]
['174.'] ['Beyond Skyline'] ['A tough-as-nails detective embarks on a relentless pursuit to free his son from a nightmarish alien warship.'] ['106 min'] ['Action, Adventure, Sci-Fi'] ['5.3'] 46 ['22,135'] [] ["Liam O'Donnell"] [['Frank Grillo', 'Bojana Novakovic', 'Jonny Weston', 'Callan Mulvey']]
['175.'] ['The Pirates of Somalia'] ['In 2008, rookie journalist Jay Bahadur forms a half-baked plan to embed himself with the pirates of Somalia. He ultimately succeeds in providing the first close-up look into who these men are, how they live, and the forces that drive them.'] ['116 min'] ['Biography, Drama'] ['6.7'] 54 ['10,208'] [] ['Bryan Buckley'] [['Evan Peters', 'Al Pacino', 'Melanie Griffith', 'Barkhad Abdi']]
['176.'] ['The Wall'] ['Two American Soldiers are trapped by a lethal sniper, with only an unsteady wall between them.'] ['88 min'] ['Action, Drama, Thriller'] ['6.2'] 57 ['27,547'] ['$1.80M'] ['Doug Liman'] [['Aaron Taylor-Johnson', 'John Cena', 'Laith Nakli']]
['177.'] ['Kamera o tomeru na!'] ['Things go badly for a hack director and film crew shooting a low budget zombie movie in an abandoned WWII Japanese facility, when they are attacked by real zombies.'] ['96 min'] ['Comedy, Drama, Horror'] ['7.6'] 86 ['24,722'] [] ["Shin'ichirô Ueda"] [['Takayuki Hamatsu', 'Yuzuki Akiyama', 'Harumi Shuhama', 'Kazuaki Nagaya']]
['178.'] ['Beast'] ['A troubled woman living in an isolated community finds herself pulled between the control of her oppressive family and the allure of a secretive outsider suspected of a series of brutal murders.'] ['107 min'] ['Crime, Drama, Mystery'] ['6.8'] 74 ['13,885'] ['$0.80M'] ['Michael Pearce'] [['Jessie Buckley', 'Geraldine James', 'Oliver Maltman', 'Trystan Gravelle']]
['179.'] ['Song to Song'] ['Two intersecting love triangles. Obsession and betrayal set against the music scene in Austin, Texas.'] ['129 min'] ['Drama, Music, Romance'] ['5.6'] 54 ['21,129'] ['$0.44M'] ['Terrence Malick'] [['Ryan Gosling', 'Rooney Mara', 'Michael Fassbender', 'Natalie Portman']]
['180.'] ['The Only Living Boy in New York'] ["Adrift in New York City, a recent college graduate's life is upended by his father's mistress."] ['89 min'] ['Drama'] ['6.3'] 33 ['14,925'] ['$0.62M'] ['Marc Webb'] [['Callum Turner', 'Kate Beckinsale', 'Pierce Brosnan', 'Cynthia Nixon']]
['181.'] ['The Lego Ninjago Movie'] ['Shunned by everyone for being the son of an evil warlord, a teenager seeks to defeat him with the help of his fellow ninjas.'] ['101 min'] ['Animation, Action, Adventure'] ['6.0'] 55 ['26,544'] ['$59.28M'] ['William R. Mayberry'] [['Charlie Bean', 'Paul Fisher', 'Bob Logan', 'Jackie Chan', 'Dave Franco', 'Fred Armisen', 'Kumail Nanjiani']]
['182.'] ['Aftermath'] ["Two strangers' lives become inextricably bound together after a devastating plane crash."] ['94 min'] ['Drama, Thriller'] ['5.7'] 44 ['25,055'] [] ['Elliott Lester'] [['Arnold Schwarzenegger', 'Scoot McNairy', 'Maggie Grace', 'Judah Nelson']]
['183.'] ['Cold Skin'] ['A young man arrives at a remote island to take a post of weather observer only to find himself defending the watchtower from deadly creatures which live in the island shores.'] ['108 min'] ['Action, Horror, Sci-Fi'] ['6.0']  ['15,958'] [] ['Xavier Gens'] [['Ray Stevenson', 'David Oakes', 'Aura Garrido', 'Winslow M. Iwaki']]
['184.'] ['Hagane no renkinjutsushi'] ["Two alchemist brothers go on a quest for the Philosopher's Stone after an attempt to revive their dead mother goes horribly wrong."] ['135 min'] ['Action, Adventure, Fantasy'] ['5.3'] 48 ['20,419'] [] ['Fumihiko Sori'] [['Ryôsuke Yamada', 'Tsubasa Honda', 'Dean Fujioka', 'Misako Renbutsu']]
['185.'] ["I don't feel at home in this world anymore."] ['When a depressed woman is burgled, she finds a new sense of purpose by tracking down the thieves alongside her obnoxious neighbour. But they soon find themselves dangerously out of their depth against a pack of degenerate criminals.'] ['93 min'] ['Comedy, Crime, Drama'] ['6.9'] 75 ['58,317'] [] ['Macon Blair'] [['Melanie Lynskey', 'Chris Doubek', 'Marilyn Faith Hickey', 'Jared Roylance']]
['186.'] ['Der Hauptmann'] ["In the last moments of World War II, a young German soldier fighting for survival finds a Nazi captain's uniform. Impersonating an officer, the man quickly takes on the monstrous identity of the perpetrators he's escaping from."] ['118 min'] ['Drama, History, Thriller'] ['7.3'] 67 ['18,110'] ['$0.11M'] ['Robert Schwentke'] [['Max Hubacher', 'Alexander Fehling', 'Sebastian Rudolph', 'Max Thommes']]
['187.'] ['Smurfs: The Lost Village'] ['In this fully animated, all-new take on the Smurfs, a mysterious map sets Smurfette and her friends Brainy, Clumsy, and Hefty on an exciting race through the Forbidden Forest, leading to the discovery of the biggest secret in Smurf history.'] ['90 min'] ['Animation, Adventure, Comedy'] ['5.9'] 40 ['21,817'] ['$45.02M'] ['Kelly Asbury'] [['Demi Lovato', 'Rainn Wilson', 'Joe Manganiello', 'Jack McBrayer']]
['188.'] ['2:22'] ["A man's life is derailed when an ominous pattern of events repeats itself in exactly the same manner every day, ending at precisely 2:22 p.m."] ['98 min'] ['Drama, Mystery, Romance'] ['5.7']  ['23,642'] [] ['Paul Currie'] [['Michiel Huisman', 'Teresa Palmer', 'Sam Reid', 'John Waters']]
['189.'] ['Fist Fight'] ["When one school teacher unwittingly causes another teacher's dismissal, he is challenged to an after-school fight."] ['91 min'] ['Comedy'] ['5.6'] 37 ['43,038'] ['$32.19M'] ['Richie Keen'] [['Ice Cube', 'Charlie Day', 'Tracy Morgan', 'Christina Hendricks']]
['190.'] ['HHhH'] ['As the German Fascists expand their borders, scorching Europe from end to end, two brave Czechs of the Resistance prepare for a suicide mission to assassinate', ', the hideous mastermind behind the "Final Solution".'] ['120 min'] ['Action, Biography, Thriller'] ['6.4']  ['16,989'] [] ['Cédric Jimenez'] [['Jason Clarke', 'Rosamund Pike', "Jack O'Connell", 'Jack Reynor']]
['191.'] ['You Get Me'] ['A one night stand turns into a nightmare for a High School student, when the obsession of a young woman grows dangerous.'] ['89 min'] ['Crime, Drama, Romance'] ['4.7']  ['13,282'] [] ['Brent Bonacorso'] [['Bella Thorne', 'Halston Sage', 'Taylor John Smith', 'Nash Grier']]
['192.'] ['Dave Made a Maze'] ['Dave, an artist who has yet to complete anything significant in his career, builds a fort in his living room out of pure frustration, only to wind up trapped by the fantastical pitfalls, booby traps, and critters of his own creation.'] ['80 min'] ['Adventure, Comedy, Fantasy'] ['6.3'] 60 ['7,872'] ['$0.03M'] ['Bill Watterson'] [['Meera Rohit Kumbhani', 'Nick Thune', 'Adam Busch', 'James Urbaniak']]
['193.'] ['Last Flag Flying'] ['Thirty years after they served together in Vietnam, a former Navy Corpsman Larry "Doc" Shepherd re-unites with his old buddies, former Marines Sal Nealon and Reverend Richard Mueller, to bury his son, a young Marine killed in the Iraq War.'] ['125 min'] ['Comedy, Drama, War'] ['6.9'] 65 ['25,974'] ['$0.97M'] ['Richard Linklater'] [['Bryan Cranston', 'Laurence Fishburne', 'Steve Carell', 'J. Quinton Johnson']]
['194.'] ['Security'] ['A security guard protects an eleven year-old girl who is being targeted by a gang for participating as a trial witness.'] ['88 min'] ['Action, Crime, Thriller'] ['5.7']  ['19,403'] [] ['Alain Desrochers'] [['Antonio Banderas', 'Ben Kingsley', 'Liam McIntyre', 'Cung Le']]
['195.'] ['Time Trap'] ['A professor enters a cave and goes missing. Some of his students come looking for him and get trapped in the cave as well.'] ['87 min'] ['Action, Adventure, Mystery'] ['6.2'] 46 ['37,213'] [] ['Mark Dennis'] [['Ben Foster', 'Reiley McClendon', 'Cassidy Gifford', 'Brianne Howey', 'Olivia Draguicevich']]
['196.'] ['Den 12. mann'] ['They were 12 saboteurs. The Nazis killed 11 of them. This is the true story of the one that got away.'] ['135 min'] ['Drama, History, Thriller'] ['7.3'] 70 ['26,356'] [] ['Harald Zwart'] [['Thomas Gullestad', 'Jonathan Rhys Meyers', 'Marie Blokhus', 'Mads Sjøgård Pettersen']]
['197.'] ['Berlin Syndrome'] ['A passionate holiday romance leads to an obsessive relationship, when an Australian photojournalist wakes one morning in a Berlin apartment and is unable to leave.'] ['116 min'] ['Drama, Horror, Mystery'] ['6.2'] 70 ['25,559'] ['$0.03M'] ['Cate Shortland'] [['Teresa Palmer', 'Max Riemelt', 'Matthias Habich', 'Emma Bading']]
['198.'] ['Breathe'] ['The inspiring true love story of Robin (Andrew Garfield) and Diana Cavendish (Claire Foy), an adventurous couple who refuse to give up in the face of a devastating disease. Their heartwarming celebration of human possibility marks the directorial debut of Andy Serkis.'] ['118 min'] ['Biography, Drama, Romance'] ['7.1'] 51 ['22,827'] ['$0.49M'] ['Andy Serkis'] [['Andrew Garfield', 'Claire Foy', 'Hugh Bonneville', 'Ed Speleers']]
['199.'] ["L'amant double"] ['Chloé, a fragile young woman, falls in love with her psychoanalyst, Paul. A few months later she moves in with him, but soon discovers that her lover is concealing a part of his identity.'] ['107 min'] ['Drama, Romance, Thriller'] ['6.2'] 70 ['12,476'] ['$0.17M'] ['François Ozon'] [['Marine Vacth', 'Jérémie Renier', 'Jacqueline Bisset', 'Myriam Boyer']]

['200.'] ['Mektoub, My Love: Canto Uno'] ['A teen boy comes back to his hometown during summer vacation in 1994, searching for love.'] ['181 min'] ['Comedy, Romance'] ['6.5'] 59 ['3,638'] [] ['Abdellatif Kechiche'] [['Shaïn Boumedine', 'Ophélie Bau', 'Salim Kechiouche', 'Lou Luttiau']]
['201.'] ['Woman Walks Ahead'] ["Catherine Weldon, a portrait painter from 1890s Brooklyn, travels to Dakota to paint a portrait of Sitting Bull and becomes embroiled in the Lakota peoples' struggle over the rights to their land."] ['101 min'] ['Biography, Drama, History'] ['6.6'] 51 ['7,353'] ['$0.06M'] ['Susanna White'] [['Jessica Chastain', 'Louisa Krause', 'Boots Southerland', 'Chaske Spencer']]
['202.'] ['Ghost Stories'] ['Skeptical professor Phillip Goodman embarks on a trip to the terrifying after being given a file with details of three unexplained cases of apparitions.'] ['98 min'] ['Drama, Horror'] ['6.4'] 68 ['34,701'] ['$0.14M'] ['Jeremy Dyson'] [['Andy Nyman', 'Samuel Bottomley', 'Deborah Wastell', 'Amy Doyle', 'Daniel Hill']]
['203.'] ['Mary Shelley'] ['Life and facts of Mary Wollstonecraft Godwin, who at 16 met 21 year old poet Percy Shelley, resulting in the writing of Frankenstein.'] ['120 min'] ['Biography, Drama, History'] ['6.4'] 49 ['16,036'] ['$0.10M'] ['Haifaa Al-Mansour'] [['Elle Fanning', 'Bel Powley', 'Owen Richards', 'Joanne Froggatt']]
['204.'] ['Palm Swings'] ['After moving to Palm Springs, a young married couple puts their love to the test when they discover their neighbors are swingers.'] ['95 min'] ['Comedy, Drama, Romance'] ['4.4']  ['1,057'] [] ['Sean Hoessli'] [['Diane Farr', 'Tia Carrere', 'Jason Lewis', 'Sugar Lyn Beard']]
['205.'] ["The Hunter's Prayer"] ['An assassin helps a young woman avenge the death of her family.'] ['91 min'] ['Action, Thriller'] ['5.5'] 35 ['9,627'] [] ['Jonathan Mostow'] [['Sam Worthington', 'Odeya Rush', 'Allen Leech', 'Amy Landecker']]
['206.'] ['Naked'] ['Nervous about finally getting married, a guy is forced to relive the same nerve-wracking hours over and over again until he gets things right on his wedding day.'] ['96 min'] ['Comedy, Fantasy, Romance'] ['5.4'] 36 ['19,950'] [] ['Michael Tiddes'] [['Marlon Wayans', 'Regina Hall', 'Dennis Haysbert', 'J.T. Jackson']]
['207.'] ['The Current War'] ['The dramatic story of the cutthroat race between electricity titans', 'and', 'to determine whose electrical system would power the modern world.'] ['108 min'] ['Biography, Drama, History'] ['6.5'] 55 ['27,814'] [] ['Alfonso Gomez-Rejon'] [['Benedict Cumberbatch', 'Oliver Powell', 'Sophia Ally', 'Tuppence Middleton']]
['208.'] ['Sandome no satsujin'] ['A courtroom drama centered around the murder of a factory president.'] ['124 min'] ['Crime, Drama, Mystery'] ['6.7'] 68 ['6,904'] ['$0.09M'] ['Hirokazu Koreeda'] [['Masaharu Fukuyama', 'Kôji Yakusho', 'Suzu Hirose', 'Shinnosuke Mitsushima']]
['209.'] ['Megan Leavey'] ['Based on the true life story of a young Marine corporal whose unique discipline and bond with her military combat dog saved many lives during their deployment in Iraq.'] ['116 min'] ['Action, Biography, Drama'] ['7.1'] 66 ['24,095'] ['$13.41M'] ['Gabriela Cowperthwaite'] [['Kate Mara', 'Ramón Rodríguez', 'Tom Felton', 'Bradley Whitford']]
['210.'] ['My Little Pony: The Movie'] ['After a dark force conquers Canterlot, the Mane 6 embark on an unforgettable journey beyond Equestria where they meet new friends and exciting challenges on a quest to use the magic of friendship to save their homeland.'] ['99 min'] ['Animation, Adventure, Comedy'] ['6.0'] 39 ['7,167'] ['$21.89M'] ['Jayson Thiessen'] [['Emily Blunt', 'Kristin Chenoweth', 'Liev Schreiber', 'Michael Peña']]
['211.'] ['Little Evil'] ['Gary, who has just married Samantha, the woman of his dreams, discovers that her six-year-old son may be the Antichrist.'] ['94 min'] ['Comedy, Fantasy, Horror'] ['5.7']  ['21,700'] [] ['Eli Craig'] [['Evangeline Lilly', 'Owen Atlas', 'Adam Scott', 'Marcus Terrell Smith']]
['212.'] ['Kidnap'] ['A mother stops at nothing to recover her kidnapped son.'] ['95 min'] ['Crime, Horror, Thriller'] ['5.9'] 44 ['37,349'] ['$30.72M'] ['Luis Prieto'] [['Halle Berry', 'Sage Correa', 'Chris McGinn', 'Lew Temple']]
['213.'] ['El Camino Christmas'] ["Eric comes to El Camino looking for his unknown dad. He's harassed, hit and jailed by a drunk local cop, who later shoots at a liquor mart with Eric +4 inside. The sheriff and deputy then shoot up the place, answering each other's fire."] ['89 min'] ['Comedy, Crime, Western'] ['5.7']  ['8,947'] [] ['David E. Talbert'] [['Dax Shepard', 'Kurtwood Smith', 'Luke Grimes', 'Emilio Rivera']]
['214.'] ['Black Butterfly'] ['A reclusive screenwriter takes in a mysterious drifter who is determined to repay his kindness by helping him finish his latest story.'] ['93 min'] ['Thriller'] ['6.1'] 43 ['13,910'] [] ['Brian Goodman'] [['Antonio Banderas', 'Jonathan Rhys Meyers', 'Piper Perabo', 'Vincent Riotta']]
['215.'] ['Captain Underpants: The First Epic Movie'] ["Two overly imaginative pranksters named George and Harold hypnotize their principal into thinking he's a ridiculously enthusiastic, incredibly dimwitted superhero named Captain Underpants."] ['89 min'] ['Animation, Action, Adventure'] ['6.2'] 69 ['28,895'] ['$73.92M'] ['David Soren'] [['Kevin Hart', 'Thomas Middleditch', 'Ed Helms', 'Nick Kroll']]
['216.'] ['6 Days'] ['Based on the Iranian Embassy siege of 1980, this action-thriller dramatizes a six-day standoff between armed Iranian Arabs and SAS soldiers ready for a counterattack.'] ['94 min'] ['Action, Drama, History'] ['6.2'] 36 ['22,241'] [] ['Toa Fraser'] [['Jamie Bell', 'Mark Strong', 'Abbie Cornish', 'Martin Shaw']]
['217.'] ['My Cousin Rachel'] ["A young Englishman plots revenge against his late cousin's mysterious, beautiful wife, believing her responsible for his death. But his feelings become complicated as he finds himself falling under the beguiling spell of her charms."] ['106 min'] ['Drama, Mystery, Romance'] ['6.0'] 63 ['19,582'] ['$2.68M'] ['Roger Michell'] [['Rachel Weisz', 'Sam Claflin', 'Holliday Grainger', 'Iain Glen']]
['218.'] ['Pieles'] ['In a strange world where people share numerous deformities, the same problem we all face challenges each of them: to find someone who accepts you as you are. Sometimes, that means finding yourself first.'] ['77 min'] ['Comedy, Drama, Fantasy'] ['6.1']  ['6,125'] [] ['Eduardo Casanova'] [['Ana Polvorosa', 'Carmen Machi', 'Macarena Gómez', 'Candela Peña']]
['219.'] ["Return to Return to Nuke 'Em High Aka Vol. 2"] ['Following the events of the previous film, a lesbian couple are determined to eliminate the most corrupt, evil forces of Tromaville and the world.'] ['85 min'] ['Action, Adventure, Comedy'] ['5.6']  ['2,156'] [] ['Lloyd Kaufman'] [['Asta Paredes', 'Catherine Corcoran', 'Zac Amico', 'Vito Trigo']]
['220.'] ['Overdrive'] ['Two car thief brothers, who journey to the south of France for new opportunities, wind up in the cross hairs of the local crime boss.'] ['93 min'] ['Action, Adventure, Crime'] ['5.3']  ['15,079'] [] ['Antonio Negret'] [['Scott Eastwood', 'Freddie Thorp', 'Ana de Armas', 'Gaia Weiss']]
['221.'] ['Kodachrome'] ['Set during the final days of the admired photo development system known as Kodachrome, a father and son hit the road in order to reach the Kansas photo lab before it closes its doors for good.'] ['105 min'] ['Drama'] ['6.8'] 57 ['17,284'] [] ['Mark Raso'] [['Ed Harris', 'Jason Sudeikis', 'Elizabeth Olsen', 'Bruce Greenwood']]
['222.'] ["The Zookeeper's Wife"] ['Keepers of the Warsaw Zoo, Antonina and Jan Zabinski, must save hundreds of people and animals during the Nazi invasion in WWII Poland.'] ['127 min'] ['Biography, Drama, History'] ['7.0'] 57 ['43,565'] ['$17.45M'] ['Niki Caro'] [['Jessica Chastain', 'Johan Heldenbergh', 'Daniel Brühl', 'Timothy Radford']]
['223.'] ['A Prayer Before Dawn'] ["The true story of an English boxer incarcerated in one of Thailand's most notorious prisons as he fights in Muay Thai tournaments to earn his freedom."] ['116 min'] ['Action, Biography, Crime'] ['6.8'] 76 ['23,772'] [] ['Jean-Stéphane Sauvaire'] [['Joe Cole', 'Cherry Miko', 'Vithaya Pansringarm', 'Panya Yimmumphai']]
['224.'] ['Zashchitniki'] ['During the Cold War, an organization called "Patriot" created a super-hero squad, which includes members of multiple Soviet republics. For years, the heroes had to hide their identities, but in hard times they must show themselves again.'] ['89 min'] ['Action, Adventure, Comedy'] ['4.0']  ['13,777'] [] ['Sarik Andreasyan'] [['Anton Pampushnyy', 'Sanjar Madi', 'Sebastien Sisak', 'Alina Lanina']]
['225.'] ['Please Stand By'] ['A young autistic woman runs away from her caregiver in an attempt to submit her 500-page manuscript to a "Star Trek" writing competition at Paramount Pictures.'] ['93 min'] ['Comedy, Drama'] ['6.7'] 49 ['14,231'] ['$0.01M'] ['Ben Lewin'] [['Dakota Fanning', 'Alice Eve', 'Toni Collette', 'Lexi Aaron']]
['226.'] ['Marshall'] ['The story of', ', the crusading lawyer who would become the first African-American Supreme Court Justice, as he battles through one of his career-defining cases.'] ['118 min'] ['Biography, Crime, Drama'] ['7.3'] 66 ['24,475'] ['$10.05M'] ['Reginald Hudlin'] [['Chadwick Boseman', 'Josh Gad', 'Kate Hudson', 'Sterling K. Brown']]
['227.'] ['Day of the Dead: Bloodline'] ['A small group of military personnel and survivalists dwell in an underground bunker as they seek to find a cure in a world overrun by zombies.'] ['90 min'] ['Action, Drama, Horror'] ['3.4']  ['12,076'] [] ['Hèctor Hernández Vicens'] [['Sophie Skelton', 'Johnathon Schaech', 'Jeff Gum', 'Marcus Vanco']]
['228.'] ['Taeksi woonjunsa'] ['A widowed father and taxi driver who drives a German reporter from Seoul to Gwangju to cover the 1980 uprising, soon finds himself regretting his decision after being caught in the violence around him.'] ['137 min'] ['Action, Drama, History'] ['7.9'] 69 ['24,747'] ['$1.53M'] ['Hun Jang'] [['Song Kang-ho', 'Thomas Kretschmann', 'Hae-Jin Yoo', 'Ryu Jun-Yeol']]
['229.'] ['Journeyman'] ['Boxer Matty Burton suffers a serious head injury during a fight. This is the story about the impact on his marriage, his life, and his family.'] ['92 min'] ['Drama, Sport'] ['7.1'] 72 ['4,466'] [] ['Paddy Considine'] [['Paddy Considine', 'Jodie Whittaker', 'Paul Popplewell', 'Brendan Ingle']]
['230.'] ['Marlina si pembunuh dalam empat babak'] ['Marlina lives quietly in Sumba until one day a man named Markus and his gang try to rob her house and she kills him. Eventually, she is haunted by Markus, and her life turns in 180 degrees.'] ['93 min'] ['Drama, Thriller, Western'] ['6.9'] 77 ['3,058'] ['$0.02M'] ['Mouly Surya'] [['Marsha Timothy', 'Egy Fedly', 'Tumpal Tampubolon', 'Yoga Pratama']]
['231.'] ['Happy Family'] ["Despite the title, the Wishbone family are far from happy. In an attempt to reconnect as a family, Mum and Emma plan a fun night out. However, her plan backfires when an evil witch curses them, and they're all turned into Monsters."] ['93 min'] ['Animation, Comedy, Family'] ['4.8']  ['4,966'] ['$0.11M'] ['Holger Tappe'] [['Dirk Stollberg', 'Emily Watson', 'Jason Isaacs', 'Jan Makino']]
['232.'] ['Goodbye Christopher Robin'] ['The relationship between writer AA Milne and his son, Christopher Robin, and how this became the inspiration for Winnie the Pooh.'] ['107 min'] ['Biography, Drama, Family'] ['7.1'] 54 ['27,770'] ['$1.74M'] ['Simon Curtis'] [['Domhnall Gleeson', 'Margot Robbie', 'Kelly Macdonald', 'Vicki Pepperdine']]
['233.'] ['Sin-gwa ham-kke: Jwi-wa beol'] ['After a heroic death, a firefighter navigates the afterlife with the help of three guides.'] ['139 min'] ['Action, Drama, Fantasy'] ['7.2']  ['15,649'] ['$1.91M'] ['Yong-hwa Kim'] [['Ha Jung-woo', 'Tae-Hyun Cha', 'Ju Ji-Hoon', 'Hyang-gi Kim']]
['234.'] ['The Breadwinner'] ['In 2001, Afghanistan is under the control of the Taliban. When her father is captured, a determined young girl disguises herself as a boy in order to provide for her family.'] ['94 min'] ['Animation, Drama, Family'] ['7.7'] 78 ['25,652'] ['$0.31M'] ['Nora Twomey'] [['Saara Chaudry', 'Soma Chhaya', 'Noorin Gulamgaus', 'Laara Sadiq']]
['235.'] ['Everything, Everything'] ["A teenager who's spent her whole life confined to her home falls for the boy next door."] ['96 min'] ['Drama, Romance'] ['6.3'] 52 ['39,174'] ['$34.00M'] ['Stella Meghie'] [['Amandla Stenberg', 'Nick Robinson', 'Anika Noni Rose', 'Ana de la Reguera']]
['236.'] ['Suburbicon'] ['As a 1950s suburban community self-destructs, a home invasion has sinister consequences for one seemingly normal family.'] ['105 min'] ['Comedy, Crime, Drama'] ['5.7'] 42 ['44,593'] ['$5.78M'] ['George Clooney'] [['Matt Damon', 'Julianne Moore', 'Oscar Isaac', 'Noah Jupe']]
['237.'] ['The Children Act'] ['As her marriage crumbles, a judge must decide a case involving a teenage boy who is refusing a blood transfusion on religious principle.'] ['105 min'] ['Drama'] ['6.7'] 62 ['13,559'] ['$0.51M'] ['Richard Eyre'] [['Emma Thompson', 'Stanley Tucci', 'Reena Lalbihari', 'Dominic Carter']]
['238.'] ['Bullet Head'] ['Three career criminals find themselves trapped in a warehouse with the law closing in and an even worse threat waiting inside - a nigh unstoppable killer dog.'] ['93 min'] ['Crime, Drama, Thriller'] ['5.4'] 51 ['10,449'] [] ['Paul Solet'] [['Adrien Brody', 'Antonio Banderas', 'John Malkovich', 'Rory Culkin']]
['239.'] ['Amityville: The Awakening'] ['A desperate single mother moves with her three children into the notorious, supposedly haunted, real-life Amityville house to try and use its dark powers to cure her comatose son. Things go horribly wrong.'] ['87 min'] ['Horror, Thriller'] ['4.8'] 42 ['14,368'] ['$0.00M'] ['Franck Khalfoun'] [['Jennifer Jason Leigh', 'Bella Thorne', 'Mckenna Grace', 'Cameron Monaghan']]
['240.'] ['Snatched'] ['When her boyfriend dumps her before their exotic vacation, a young woman persuades her ultra-cautious mother to travel with her to paradise, with unexpected results.'] ['90 min'] ['Action, Adventure, Comedy'] ['4.6'] 45 ['35,833'] ['$45.83M'] ['Jonathan Levine'] [['Amy Schumer', 'Goldie Hawn', 'Kim Caramele', 'Raven Goodwin']]
['241.'] ['Aus dem Nichts'] ["Katja's life collapses after the deaths of her husband and son in a bomb attack. After a time of mourning and injustice, Katja seeks revenge."] ['106 min'] ['Crime, Drama, Thriller'] ['7.1'] 65 ['33,235'] ['$0.32M'] ['Fatih Akin'] [['Numan Acar', 'Adam Bousdoukos', 'Diane Kruger', 'Denis Moschitto']]
['242.'] ['The Hero'] ['An ailing movie star comes to terms with his past and mortality.'] ['96 min'] ['Drama, Romance, Western'] ['6.5'] 61 ['9,808'] ['$4.08M'] ['Brett Haley'] [['Sam Elliott', 'Laura Prepon', 'Krysten Ritter', 'Nick Offerman']]
['243.'] ['Outlaws'] ["1% is set within the primal underworld of outlaw motorcycle club gangs. It follows the heir to the throne of a motorcycle club who has to betray his president to save his brother's life."] ['92 min'] ['Crime, Drama, Thriller'] ['5.3'] 24 ['1,065'] [] ['Stephen McCallum'] [['Ryan Corr', 'Abbey Lee', 'Simone Kessell', 'Josh McConville']]
['244.'] ['On Chesil Beach'] ['In 1962 England, a young couple find their idyllic romance colliding with issues of sexual freedom and societal pressure, leading to an awkward and fateful wedding night.'] ['110 min'] ['Drama, Music, Romance'] ['6.3'] 62 ['11,433'] ['$0.75M'] ['Dominic Cooke'] [['Billy Howle', 'Saoirse Ronan', 'Andy Burse', 'Rasmus Hardiker']]
['245.'] ['The Wife'] ['A wife questions her life choices as she travels to Stockholm to see her husband receive the Nobel Prize for Literature.'] ['99 min'] ['Drama'] ['7.2'] 77 ['40,132'] ['$9.60M'] ['Björn Runge'] [['Glenn Close', 'Jonathan Pryce', 'Max Irons', 'Christian Slater']]
['246.'] ['Victoria & Abdul'] ['Queen Victoria strikes up an unlikely friendship with a young Indian clerk named Abdul Karim.'] ['111 min'] ['Biography, Drama, History'] ['6.8'] 58 ['36,034'] ['$22.25M'] ['Stephen Frears'] [['Judi Dench', 'Ali Fazal', 'Tim Pigott-Smith', 'Eddie Izzard']]
['247.'] ['M.F.A.'] ['An art student taps into a rich source of creative inspiration after the accidental slaughter of her rapist. An unlikely vigilante emerges, set out to avenge college girls whose attackers walked free.'] ['92 min'] ['Drama, Horror, Thriller'] ['5.9']  ['7,011'] [] ['Natalia Leite'] [['Francesca Eastwood', 'Clifton Collins Jr.', 'Leah McKendrick', 'Peter Vack']]
['248.'] ['Happy End'] ['A well-to-do French family deals with a series of setbacks and crises.'] ['107 min'] ['Drama'] ['6.6'] 72 ['15,778'] ['$0.30M'] ['Michael Haneke'] [['Isabelle Huppert', 'Jean-Louis Trintignant', 'Mathieu Kassovitz', 'Fantine Harduin']]
['249.'] ['Shock and Awe'] ['A group of journalists of the Knight-Ridder news service covering President George W. Bush\'s planned invasion of Iraq in 2003 are skeptical of the President\'s claim that Saddam Hussein has "weapons of mass destruction."'] ['90 min'] ['Biography, Drama, History'] ['6.3'] 47 ['7,424'] ['$0.08M'] ['Rob Reiner'] [['Woody Harrelson', 'James Marsden', 'Rob Reiner', 'Tommy Lee Jones']]

AttributeError: '_io.TextIOWrapper' object has no attribute 'head'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
%matplotlib auto
plt.rcParams["font.sans-serif"] = ["SimHei"]
plt.rcParams["axes.unicode_minus"] = False 
df=pd.read_csv("IMDb.csv")
# 将空值形式的缺失值转换成可识别的类型
df['metascore'] =df['metascore'].fillna('0')
df['metascore'] =df['metascore'].astype(float)
df.head(20)

E:\anacond3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

Using matplotlib backend: Qt5Agg

,rank,title,description,runtime,genre,rating,metascore,votes,gross_earning_in_mil,director,actor
0,1.0,My Friend Dahmer,"A young, struggles to belong in high school.",107 min,"Biography, Drama, Horror",6.2,68.0,"21,331",$1.36M,Marc Meyers,"Ross Lynch, Alex Wolff, Anne Heche, Zachary Da..."
1,2.0,It,"In the summer of 1989, a group of bullied kids...",135 min,Horror,7.3,69.0,"541,179",$327.48M,Andy Muschietti,"Bill Skarsg?rd, Jaeden Martell, Finn Wolfhard,..."
2,3.0,Get Out,"""A young African-American visits his white gir...",104 min,"Horror, Mystery, Thriller",7.7,85.0,"599,344",$176.04M,Jordan Peele,"Daniel Kaluuya, Allison Williams, Bradley Whit..."
3,4.0,Blade Runner 2049,"""Young Blade Runner Ks discovery of a long-bur...",164 min,"Action, Drama, Mystery",8.0,81.0,"563,831",$92.05M,Denis Villeneuve,"Harrison Ford, Ryan Gosling, Ana de Armas, Dav..."
4,5.0,Star Wars: Episode VIII - The Last Jedi,The Star Wars saga continues as new heroes and...,152 min,"Action, Adventure, Fantasy",6.9,84.0,"627,812",$620.18M,Rian Johnson,"Daisy Ridley, John Boyega, Mark Hamill, Carrie..."
5,6.0,Call Me by Your Name,"""In 1980s Italy, romance blossoms between a se...",132 min,"Drama, Romance",7.8,93.0,"269,869",$18.10M,Luca Guadagnino,"Timoth��e Chalamet, Armie Hammer, Michael Stuh..."
6,7.0,The Greatest Showman,Celebrates the birth of show business and tell...,105 min,"Biography, Drama, Musical",7.5,48.0,"280,269",$174.34M,Michael Gracey,"Hugh Jackman, Michelle Williams, Zac Efron, Ze..."
7,8.0,Logan,"In a future where mutants are nearly extinct, ...",137 min,"Action, Drama, Sci-Fi",8.1,77.0,"755,351",$226.28M,James Mangold,"Hugh Jackman, Patrick Stewart, Dafne Keen, Boy..."
8,9.0,Thor: Ragnarok,"Imprisoned on the planet Sakaar, Thor must rac...",130 min,"Action, Adventure, Comedy",7.9,74.0,"743,500",$315.06M,Taika Waititi,"Chris Hemsworth, Tom Hiddleston, Cate Blanchet..."
9,10.0,Downsizing,A social satire in which a man realizes he wou...,135 min,"Drama, Fantasy, Sci-Fi",5.8,63.0,"111,159",$24.45M,Alexander Payne,"Matt Damon, Christoph Waltz, Hong Chau, Kriste..."
10,11.0,"""Geralds Game""",A couple tries to spice up their marriage in a...,103 min,"Drama, Horror, Thriller",6.5,77.0,"110,093",NaN,Mike Flanagan,"Carla Gugino, Bruce Greenwood, Chiara Aurelia,..."
11,12.0,Beauty and the Beast,A selfish Prince is cursed to become a monster...,129 min,"Adventure, Family, Fantasy",7.1,65.0,"308,206",$504.01M,Bill Condon,"Emma Watson, Dan Stevens, Luke Evans, Josh Gad"
12,13.0,Murder on the Orient Express,"""When a murder occurs on the train on which he...",114 min,"Crime, Drama, Mystery",6.5,52.0,"257,121",$102.83M,Kenneth Branagh,"Kenneth Branagh, Pen��lope Cruz, Willem Dafoe,..."
13,14.0,Coco,"""Aspiring musician Miguel, confronted with his...",105 min,"Animation, Adventure, Comedy",8.4,81.0,"499,258",$209.73M,Lee Unkrich,"Adrian Molina, Anthony Gonzalez, Gael Garc��a ..."
14,15.0,"Roman J. Israel, Esq.","Roman J. Israel, Esq., a driven, idealistic de...",122 min,"Crime, Drama, Thriller",6.5,58.0,"38,454",$11.96M,Dan Gilroy,"Denzel Washington, Colin Farrell, Carmen Ejogo..."
15,16.0,Hot Summer Nights,"In 1991, a sheltered teenage boy comes of age ...",107 min,"Crime, Drama, Romance",6.3,44.0,"19,239",NaN,Elijah Bynum,"Timoth��e Chalamet, Maika Monroe, Alex Roe, Em..."
16,17.0,The Shape of Water,At a top secret research facility in the 1960s...,123 min,"Drama, Fantasy, Romance",7.3,87.0,"417,823",$63.86M,Guillermo del Toro,"Sally Hawkins, Octavia Spencer, Michael Shanno..."
17,18.0,The Square,"""A prestigious Stockholm museums chief art cur...",151 min,"Comedy, Drama",7.2,73.0,"64,951",$1.50M,Ruben ?stlund,"Claes Bang, Elisabeth Moss, Dominic West, Terr..."
18,19.0,Mother!,"""A couples relationship is tested when uninvit...",121 min,"Drama, Horror, Mystery",6.6,75.0,"225,678",$17.80M,Darren Aronofsky,"Jennifer Lawrence, Javier Bardem, Ed Harris, M..."
19,20.0,Hostile,"Juliette, a lone survivor of an apocalyptic er...",83 min,"Drama, Horror, Romance",5.4,0.0,"6,339",NaN,Mathieu Turi,"Brittany Ashworth, Gr��gory Fitoussi, Javier B..."

In [3]:
df['rank'] =df['rank'].str.replace('[', '')
df['rank'] =df['rank'].str.replace(']', '')
df['title'] =df['title'].str.replace('[', '')
df['title'] =df['title'].str.replace(']', '')
df['runtime'] =df['runtime'].str.replace('[', '')
df['runtime'] =df['runtime'].str.replace(']', '')
df['genre'] =df['genre'].str.replace('[', '')
df['genre'] =df['genre'].str.replace(']', '')
df['rating'] =df['rating'].str.replace('[', '')
df['rating'] =df['rating'].str.replace(']', '')
df['votes'] =df['votes'].str.replace('[', '')
df['votes'] =df['votes'].str.replace(']', '')
df['gross_earning_in_mil'] =df['gross_earning_in_mil'].str.replace('[', '')
df['gross_earning_in_mil'] =df['gross_earning_in_mil'].str.replace(']', '')
df['director'] =df['director'].str.replace('[', '')
df['director'] =df['director'].str.replace(']', '')
df['actor'] =df['actor'].str.replace('[', '')
df['actor'] =df['actor'].str.replace(']', '')
df.head(20)

AttributeError: Can only use .str accessor with string values!

In [15]:
df['gross_earning_in_mil'] =df['gross_earning_in_mil'].fillna('$0.00M')
df.head(20)

,rank,title,description,runtime,genre,rating,metascore,votes,gross_earning_in_mil,director,actor
0,1.0,My Friend Dahmer,"A young, struggles to belong in high school.",107 min,"Biography, Drama, Horror",6.2,68.0,"21,331",$1.36M,Marc Meyers,"Ross Lynch, Alex Wolff, Anne Heche, Zachary Da..."
1,2.0,It,"In the summer of 1989, a group of bullied kids...",135 min,Horror,7.3,69.0,"541,179",$327.48M,Andy Muschietti,"Bill Skarsg?rd, Jaeden Martell, Finn Wolfhard,..."
2,3.0,Get Out,"""A young African-American visits his white gir...",104 min,"Horror, Mystery, Thriller",7.7,85.0,"599,344",$176.04M,Jordan Peele,"Daniel Kaluuya, Allison Williams, Bradley Whit..."
3,4.0,Blade Runner 2049,"""Young Blade Runner Ks discovery of a long-bur...",164 min,"Action, Drama, Mystery",8.0,81.0,"563,831",$92.05M,Denis Villeneuve,"Harrison Ford, Ryan Gosling, Ana de Armas, Dav..."
4,5.0,Star Wars: Episode VIII - The Last Jedi,The Star Wars saga continues as new heroes and...,152 min,"Action, Adventure, Fantasy",6.9,84.0,"627,812",$620.18M,Rian Johnson,"Daisy Ridley, John Boyega, Mark Hamill, Carrie..."
5,6.0,Call Me by Your Name,"""In 1980s Italy, romance blossoms between a se...",132 min,"Drama, Romance",7.8,93.0,"269,869",$18.10M,Luca Guadagnino,"Timoth��e Chalamet, Armie Hammer, Michael Stuh..."
6,7.0,The Greatest Showman,Celebrates the birth of show business and tell...,105 min,"Biography, Drama, Musical",7.5,48.0,"280,269",$174.34M,Michael Gracey,"Hugh Jackman, Michelle Williams, Zac Efron, Ze..."
7,8.0,Logan,"In a future where mutants are nearly extinct, ...",137 min,"Action, Drama, Sci-Fi",8.1,77.0,"755,351",$226.28M,James Mangold,"Hugh Jackman, Patrick Stewart, Dafne Keen, Boy..."
8,9.0,Thor: Ragnarok,"Imprisoned on the planet Sakaar, Thor must rac...",130 min,"Action, Adventure, Comedy",7.9,74.0,"743,500",$315.06M,Taika Waititi,"Chris Hemsworth, Tom Hiddleston, Cate Blanchet..."
9,10.0,Downsizing,A social satire in which a man realizes he wou...,135 min,"Drama, Fantasy, Sci-Fi",5.8,63.0,"111,159",$24.45M,Alexander Payne,"Matt Damon, Christoph Waltz, Hong Chau, Kriste..."
10,11.0,"""Geralds Game""",A couple tries to spice up their marriage in a...,103 min,"Drama, Horror, Thriller",6.5,77.0,"110,093",$0.00M,Mike Flanagan,"Carla Gugino, Bruce Greenwood, Chiara Aurelia,..."
11,12.0,Beauty and the Beast,A selfish Prince is cursed to become a monster...,129 min,"Adventure, Family, Fantasy",7.1,65.0,"308,206",$504.01M,Bill Condon,"Emma Watson, Dan Stevens, Luke Evans, Josh Gad"
12,13.0,Murder on the Orient Express,"""When a murder occurs on the train on which he...",114 min,"Crime, Drama, Mystery",6.5,52.0,"257,121",$102.83M,Kenneth Branagh,"Kenneth Branagh, Pen��lope Cruz, Willem Dafoe,..."
13,14.0,Coco,"""Aspiring musician Miguel, confronted with his...",105 min,"Animation, Adventure, Comedy",8.4,81.0,"499,258",$209.73M,Lee Unkrich,"Adrian Molina, Anthony Gonzalez, Gael Garc��a ..."
14,15.0,"Roman J. Israel, Esq.","Roman J. Israel, Esq., a driven, idealistic de...",122 min,"Crime, Drama, Thriller",6.5,58.0,"38,454",$11.96M,Dan Gilroy,"Denzel Washington, Colin Farrell, Carmen Ejogo..."
15,16.0,Hot Summer Nights,"In 1991, a sheltered teenage boy comes of age ...",107 min,"Crime, Drama, Romance",6.3,44.0,"19,239",$0.00M,Elijah Bynum,"Timoth��e Chalamet, Maika Monroe, Alex Roe, Em..."
16,17.0,The Shape of Water,At a top secret research facility in the 1960s...,123 min,"Drama, Fantasy, Romance",7.3,87.0,"417,823",$63.86M,Guillermo del Toro,"Sally Hawkins, Octavia Spencer, Michael Shanno..."
17,18.0,The Square,"""A prestigious Stockholm museums chief art cur...",151 min,"Comedy, Drama",7.2,73.0,"64,951",$1.50M,Ruben ?stlund,"Claes Bang, Elisabeth Moss, Dominic West, Terr..."
18,19.0,Mother!,"""A couples relationship is tested when uninvit...",121 min,"Drama, Horror, Mystery",6.6,75.0,"225,678",$17.80M,Darren Aronofsky,"Jennifer Lawrence, Javier Bardem, Ed Harris, M..."
19,20.0,Hostile,"Juliette, a lone survivor of an apocalyptic er...",83 min,"Drama, Horror, Romance",5.4,0.0,"6,339",$0.00M,Mathieu Turi,"Brittany Ashworth, Gr��gory Fitoussi, Javier B..."

In [4]:
df['main_genre'] = df['genre'].str.split(', ').str.get(0)
df.head()

,rank,title,description,runtime,genre,rating,metascore,votes,gross_earning_in_mil,director,actor,main_genre
0,1.0,My Friend Dahmer,"A young, struggles to belong in high school.",107 min,"Biography, Drama, Horror",6.2,68.0,"21,331",$1.36M,Marc Meyers,"Ross Lynch, Alex Wolff, Anne Heche, Zachary Da...",Biography
1,2.0,It,"In the summer of 1989, a group of bullied kids...",135 min,Horror,7.3,69.0,"541,179",$327.48M,Andy Muschietti,"Bill Skarsg?rd, Jaeden Martell, Finn Wolfhard,...",Horror
2,3.0,Get Out,"""A young African-American visits his white gir...",104 min,"Horror, Mystery, Thriller",7.7,85.0,"599,344",$176.04M,Jordan Peele,"Daniel Kaluuya, Allison Williams, Bradley Whit...",Horror
3,4.0,Blade Runner 2049,"""Young Blade Runner Ks discovery of a long-bur...",164 min,"Action, Drama, Mystery",8.0,81.0,"563,831",$92.05M,Denis Villeneuve,"Harrison Ford, Ryan Gosling, Ana de Armas, Dav...",Action
4,5.0,Star Wars: Episode VIII - The Last Jedi,The Star Wars saga continues as new heroes and...,152 min,"Action, Adventure, Fantasy",6.9,84.0,"627,812",$620.18M,Rian Johnson,"Daisy Ridley, John Boyega, Mark Hamill, Carrie...",Action

In [5]:
df['runtime'] = df['runtime'].str.split(' ').str.get(0).astype(int)
df.head()

,rank,title,description,runtime,genre,rating,metascore,votes,gross_earning_in_mil,director,actor,main_genre
0,1.0,My Friend Dahmer,"A young, struggles to belong in high school.",107,"Biography, Drama, Horror",6.2,68.0,"21,331",$1.36M,Marc Meyers,"Ross Lynch, Alex Wolff, Anne Heche, Zachary Da...",Biography
1,2.0,It,"In the summer of 1989, a group of bullied kids...",135,Horror,7.3,69.0,"541,179",$327.48M,Andy Muschietti,"Bill Skarsg?rd, Jaeden Martell, Finn Wolfhard,...",Horror
2,3.0,Get Out,"""A young African-American visits his white gir...",104,"Horror, Mystery, Thriller",7.7,85.0,"599,344",$176.04M,Jordan Peele,"Daniel Kaluuya, Allison Williams, Bradley Whit...",Horror
3,4.0,Blade Runner 2049,"""Young Blade Runner Ks discovery of a long-bur...",164,"Action, Drama, Mystery",8.0,81.0,"563,831",$92.05M,Denis Villeneuve,"Harrison Ford, Ryan Gosling, Ana de Armas, Dav...",Action
4,5.0,Star Wars: Episode VIII - The Last Jedi,The Star Wars saga continues as new heroes and...,152,"Action, Adventure, Fantasy",6.9,84.0,"627,812",$620.18M,Rian Johnson,"Daisy Ridley, John Boyega, Mark Hamill, Carrie...",Action

In [6]:
df.groupby(['gross_earning_in_mil']).mean()

                       rank     runtime    rating  metascore
gross_earning_in_mil
$0.00M                172.5   98.500000  5.700000  52.500000
$0.01M                176.0   93.500000  6.800000  47.500000
$0.02M                170.5  108.000000  6.600000  59.500000
$0.03M                183.0   99.666667  6.366667  68.333333
$0.06M                201.0  101.000000  6.600000  51.000000
...                     ...         ...       ...        ...
$85.36M                77.0  124.000000  5.900000  44.000000
$86.09M               152.0   86.000000  3.300000  12.000000
$9.60M                245.0   99.000000  7.200000  77.000000
$92.03M                37.0  122.000000  7.400000  75.000000
$92.05M                 4.0  164.000000  8.000000  81.000000

[169 rows x 4 columns]

In [152]:
df.groupby(['gross_earning_in_mil','rank']).mean()

                           runtime  rating  metascore
gross_earning_in_mil rank
$0.00M               3         147     8.3        0.0
                     13        107     6.3       44.0
                     19        105     5.1        0.0
                     24         94     6.3       57.0
                     28        103     6.5       77.0
...                            ...     ...        ...
$84.41M              149       108     6.7       58.0
$85.36M              74        124     5.9       44.0
$86.09M              155        86     3.3       12.0
$92.03M              41        122     7.4       75.0
$92.05M              4         164     8.0       81.0

[249 rows x 3 columns]

In [13]:
# 获得电影类型的分布和平均得分数据
genre_data = df.groupby('main_genre')['title', 'rating'].agg({'title': 'count', 'rating': 'mean'}).sort_values(by='title', ascending=False)
# 绘制不同电影类型的数量分布
fig, ax2 = plt.subplots(figsize=(14,7))
plt.title('不同类型的IMDB电影数量', fontsize=18)

genre_data['title'].plot(kind='bar', width=0.8, color=(255/255,187/255,120/255))

# 设置坐标轴格式
ax2.set_xlabel('')
ax2.set_xticklabels(genre_data.index, rotation=0, fontsize=12)
ax2.tick_params(axis='x', rotation=0)
ax2.spines['top'].set_visible(False)
ax2.spines['right'].set_visible(False)

# 标记不同电影类型的数量数据
x2 = np.arange(df['main_genre'].nunique())
y2 = df['main_genre'].value_counts().values
bar=ax2.bar(x2,y2,color='#CCFFFF')
y3 = genre_data['rating'].values
line=ax2.plot(x2,y3,color='#FF6633')
#添加无指向型文本
def autolabel(rects):
    for rect in rects:
        height =rect.get_height()
        plt.text(rect.get_x()+rect.get_width()/2,height+1,
                s='{}'.format(height),
                ha='center',va='bottom')
autolabel(bar)
#添加图例
ax2.legend([bar,line[0]],['数量','评分'],shadow=True,fancybox=True)

<ipython-input-13-643b6e4509e3>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  genre_data = df.groupby('main_genre')['title', 'rating'].agg({'title': 'count', 'rating': 'mean'}).sort_values(by='title', ascending=False)

In [14]:
fig, ax3 = plt.subplots()
y4=df['runtime']
ax3.hist(y4,range=(70,210),bins=14,histtype='barstacked')
ax3.set_title('票房top250影片的时长分布')

ax3.spines['top'].set_visible(False)
ax3.spines['left'].set_visible(False)
ax3.spines['right'].set_visible(False)

ax3.set_xticklabels(np.arange(70,220,10))
ax3.set_xticks(np.arange(70,220,10))
ax3.grid()

<ipython-input-14-b96ea7c390cb>:10: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax3.set_xticklabels(np.arange(70,220,10))

In [1]:
# 绘制时长和IMDB评分相关性
sns.lmplot(data=df, x='runtime', y='rating')
sns.despine()
plt.title('电影时长与评分的关系')

NameError: name 'sns' is not defined

In [156]:
# IMDB评分和metascore得分的相关性
sns.lmplot(data=df, x='rating', y='metascore')
sns.despine()
plt.title('IMDB评分和metascore得分的相关性')

Text(0.5, 1.0, 'IMDB评分和metascore得分的相关性')

In [148]:
# 比较IMDB得分和metascore得分的分布
fig = plt.figure()
fig.suptitle('比较IMDB得分和metascore得分的分布')

ax5 = fig.add_subplot(1,2,1)
df['rating'].hist(range=(0,10), bins=10,color='#99FF99')

ax5.grid()
ax5.set_xlim(0,10)
ax5.spines['top'].set_visible(False)
ax5.spines['left'].set_visible(False)
ax5.spines['right'].set_visible(False)

ax6 = fig.add_subplot(1,2,2, sharey=ax5)
df['metascore'].hist(range=(0,100), bins=10, color='#99FF00')

ax6.grid()
ax6.set_xticks([0,20,40,60,80,100])
ax6.spines['top'].set_visible(False)
ax6.spines['left'].set_visible(False)
ax6.spines['right'].set_visible(False)
ax6.tick_params(bottom=False, left=False, right=False, labelright=False, labelleft=False)